
<div class="text-center">
   
</div>

<div class="row" style="background: #fff;">

  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-1">
          <div class="dash-box-icon">
            <i class="fa fa-id-badge" style="font-size:36px"></i>
          </div>
          <div class="dash-box-body">
              <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of employees</span><br>
            <span class="dash-box-title">8,252</span>
            
          </div>
          
          <a href="/main/viewemployee"> <div class="dash-box-action">
            <button type="button" class="btn btn-info mb-3 ">More Info</button>
          </div></a>				
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
             <i _ngcontent-c18="" class="fa m-1 fa-vcard ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
              <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of clients</span><br>
            <span class="dash-box-title">100</span>
          </div>
          <a href="/main/clientmanagement">
          <div class="dash-box-action">
          <button type="button" class="btn btn-info mb-3 ">More Info</button>
          </div></a>				
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
            <i class="fa fa-file-zip-o" style="font-size:36px"></i>
          </div>
          <div class="dash-box-body">
              <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of employee issues</span><br>
            <span class="dash-box-title">8,252</span>
          </div>
          <a href="/main/issues">
          <div class="dash-box-action">
          <button type="button" class="btn btn-info mb-3 ">More Info</button>
          </div></a>				
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
              <i class="fa m-1 fa-vcard-o ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
              <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of client issues</span><br>
            <span class="dash-box-title">8,252</span>
          </div>
          <a href="/main/clientissues">
          <div class="dash-box-action">
            <button type="button" class="btn btn-info mb-3 ">More Info</button>
            
          </div></a>				
        </div>
      </div>
    </div>
  </div>
  </div>
<br>
  <div class="row">

  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      <div class="card-body">
          <div class="left card-title">
              <b>Employee Management</b>
            </div>
        <div class="media">
          <div class="col-6 col-lg-6 mb-3">
            <div class="card">
              <div class="crds">
                <a href="/main/viewemployee">
                  <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                    <i class="indigo-text8 text-lighten-1 large material-icons">assignment_ind</i>
                    <span class="indigo-text text-lighten-1"><h5>View Employees</h5></span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-6 mb-3">
            <div class="card">
              <div class="crds">
                <a href="/main/addemployee">
                  <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                    <i class="indigo-text7 text-lighten-1 large material-icons">person_add</i>
                    <span class="indigo-text text-lighten-1"><h5>Add employees</h5></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-3">
    <div class="card">
      
      <div class="card-body">
          <div class="left card-title">
              <b>User Management</b>
            </div>
        <div class="media">
          <div class="col-6 col-lg-6 mb-3">
            <div class="card">
              <div class="crds">
                  <a href="/main/clientmanagement">
                      <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                        <i class="indigo-text6 text-lighten-1 large material-icons">location_city</i>
                        <span class="indigo-text text-lighten-1"><h5>View clients</h5></span>
                      </div>
                    </a>
        
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-6 mb-3">
            <div class="card">
              <div class="crds">
                  <a href="/main/addclient">
                      <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                        <i class="indigo-text5 text-lighten-1 large material-icons">person_add</i>
                        <span class="indigo-text text-lighten-1"><h5>Add Clients</h5></span>
                      </div>
                    </a>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>



  <div class="col-12 col-lg-6 mb-3">
      <div class="card">
        
        <div class="card-body">
            <div class="left card-title">
                <b>Attendance Managemtn</b>
              </div>
          <div class="media">
            <div class="col-6 col-lg-6 mb-3">
              <div class="card">
                <div class="crds">
                    <a href="main/datepicker">
                        <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                          <i class="indigo-text4 text-lighten-1 large material-icons">offline_pin</i>
                          <span class="indigo-text text-lighten-1"><h5>Employees Attendance</h5></span>
                        </div>
                      </a>
                </div>
              </div>
              
            </div>
  
            <div class="col-6 col-lg-6 mb-3">
              <div class="card">
                <div class="crds">
                    <a href="main/datepicker">
                        <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                          <i class="indigo-text3 text-lighten-1 large material-icons">list</i>
                          <span class="indigo-text text-lighten-1"><h5> Details </h5></span>
                         
                        </div>
                      </a>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
          
          <div class="card-body">
              <div class="left card-title">
                  <b>Employees and Working place ßMap</b>
                </div>
            <div class="media">
              <div class="col-6 col-lg-6 mb-3">
                <div class="card">
                  <div class="crds">
                      <a href="assignuser">
                          <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                            <i class="indigo-text4 text-lighten-1 large material-icons">group_add</i>
                            <span class="indigo-text text-lighten-1"><h5>Assign Employees
 
                            </h5></span>
                          </div>
                        </a>
                  </div>
                </div>
              </div>
    
              <div class="col-6 col-lg-6 mb-3">
                <div class="card">
                  <div class="crds">
                      <a href="assignuser">
                          <div style="padding: 20px;" class="grey lighten-3 col-xs-5 waves-effect">
                            <i class="indigo-text3 text-lighten-1 large material-icons">directions_run</i>
                            <span class="indigo-text text-lighten-1"><h5> Revoke Employees </h5></span>
                           
                          </div>
                        </a>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>

</div>

 