

<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">

      <!-- <h2 class="text-center font-weight-bold pt-4 pb-5"><strong>Steps form example</strong></h2> -->

      <form role="form" action="" method="post">

          <!-- First Step -->
          <div class="row">
              <div class="col-md-12">
                  <h3 class="font-weight-bold pl-0 my-4"><strong>Update Issues</strong></h3>
                  <div class="form-group service-form-group">
                          <label>Issues ID</label>
                      <label class="control-label sr-only" for="name"></label>
                      <input  type="text" placeholder="Issues ID" class="form-control" [(ngModel)]="model.ClientID" name="ClientID" >
                      <div class="form-icon"></div>
                  </div>
                  <div class="form-group service-form-group">
                          <label>Posted BY</label>
                      <label class="control-label sr-only" for="name"></label>
                      <input  type="text" placeholder="PostedBY" class="form-control" [(ngModel)]="model.ClientName" name="ClientName" >
                      <div class="form-icon"></div>
                  </div>
                 </div>
          </div>


    

           <!-- fourth Step -->
           <div class="row">
                  <div class="col-md-12">
                      <h3 class="font-weight-bold pl-0 my-4"><strong>Issuess Info</strong></h3>

                      <div class="form-group service-form-group">
                              <label> Employee name</label>
                          <label class="control-label sr-only" for="name"></label>
                          <input  type="text" placeholder="Employee Name" class="form-control" required="" [(ngModel)]="model.alternate_Contact_Person_Name" name="alternate_Contact_Person_Name">
                          <div class="form-icon"></div>
                      </div>

                      <div class="form-group service-form-group">
                              <label> Title</label>
                          <label class="control-label sr-only" for="phone"></label>
                          <input  type="text" placeholder=" Title" class="form-control" required="" [(ngModel)]="model.alternate_Contact_Person_contact_number" name="alternate_Contact_Person_contact_number">
                          <div class="form-icon"></div>
                      </div>

                      <div class="form-group service-form-group">
                              <label>Type</label>
                          <label class="control-label sr-only" for="phone"></label>
                          <input  type="text" placeholder="Typer" class="form-control" required="" [(ngModel)]="model.alternate_Contact_Person_mobile_number" name="alternate_Contact_Person_mobile_number">
                          <div class="form-icon"></div>
                      </div>

                      <div class="form-group service-form-group">
                              <label>Description</label>
                          <label class="control-label sr-only" for="Email Address"></label>
                          <input  type="email" placeholder="Description" class="form-control" required="" [(ngModel)]="model.alternate_Contact_Person_email_address" name="alternate_Contact_Person_email_address">
                          <div class="form-icon"></div>
                      </div>

                      <div class="row" style="background: #fff;">


                          <div class="row" >
                              <div class="column">
                                <img src="/assets/images/img_nature.jpg" alt="Nature" style="width:100%" onclick="myFunction(this);">
                              </div>
                              <div class="column">
                                <img src="/assets/images/img_snow.jpg" alt="Snow" style="width:100%" onclick="myFunction(this);">
                              </div>
                              <div class="column">
                                <img src="/assets/images/img_mountains.jpg" alt="Mountains" style="width:100%" onclick="myFunction(this);">
                              </div>
                              <div class="column">
                                <img src="/assets/images/img_lights.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
                              </div>
                            </div>
                            
                            <div class="container">
                              <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
                              <img id="expandedImg" style="width:100%">
                              <div id="imgtext"></div>
                            </div>
                        </div>
                      

                      <button class="btn px-gdn-btn btn-rounded float-right" type="submit"  onclick="Update()"  routerLink="/main/issues" >Submit</button>
                  </div>
              </div>

      </form>

  </div>
</div>
<!-- Steps form -->

