<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">
      <h3 class="text-center font-weight-bold pt-4 pb-5"><strong>Edit Users Details</strong></h3>
    

            <div class="row">
                    <div class="row">
                            <h3 class="font-weight-bold pl-0 my-4 col-md-12"><strong>User Details</strong></h3>   
                            

                           
                                    
                                    <div class="form-group col-md-5">
                                          <label for="input-phone">User ID</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 value="001">
                                        </div>
                  
                                    <div class="form-group col-md-5">
                                          <label for="input-phone">Manager ID</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 value="Man 06">
                                        </div>
                  
                                        <div class="form-group col-md-5">
                                              <label for="input-phone">First Name</label>
                                              <input type="text" class="form-control" id="input-phone"
                                                     value="Saravana">
                                            </div>
                  
                                     <div class="form-group col-md-5">
                                  <label for="input-phone">Last Name</label>
                                  <input type="text" class="form-control" id="input-phone"
                                         value="Kumar">
                                </div>
                                <div class="form-group col-md-5">
                                      <label for="input-phone">Position</label>
                                      <input type="text" class="form-control" id="input-phone"
                                             value="Security">
                                    </div>
                                  
                                <div class="form-group col-md-5">
                                      <label for="input-phone">Street</label>
                                      <input type="text" class="form-control" id="input-phone"
                                             value="203 th street">
                                    </div>
                  
                                    <div class="form-group col-md-5">
                                          <label for="input-phone">City</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 value="Chennai">
                                        </div>
                  
                                    <div class="form-group col-md-5" >
                                          <label for="input-phone">State</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 value="Tamil Nadu">
                                        </div>
                  
                                        <div class="form-group col-md-5">
                                              <label for="input-phone">Zip Code</label>
                                              <input type="text" class="form-control" id="input-phone"
                                                     value="600 188">
                                            </div>
                  
                                            <div class="form-group col-md-5">
                                                  <label for="input-phone">Phone</label>
                                                  <input type="text" class="form-control" id="input-phone"
                                                         value="9987877654">
                                                </div>
                  
                                            <div class="form-group col-md-5">
                                                  <label for="input-phone">Sex</label>
                                                  <input type="text" class="form-control" id="input-phone"
                                                         value="Male">
                                                </div>
                  
                                                <div class="form-group col-md-5">
                                                      <label for="input-phone">Birth Date</label>
                                                      <input type="text" class="form-control" id="input-phone"
                                                             value="23/10/1991">
                                                    </div>
                  
                                                    
                                                        
                                                <div class="form-group col-md-5">
                                                      <label for="input-phone">Salary</label>
                                                      <input type="text" class="form-control" id="input-phone"
                                                             value="25,000">
                                                    </div>
                  
                                                    <div class="form-group col-md-5">
                                                          <label for="input-phone">Start Date</label>
                                                          <input type="text" class="form-control" id="input-phone"
                                                                 value="12/12/2017">
                                                        </div>
                  
                  
                                                <div class="form-group col-md-5">
                                                      <label for="input-phone">Termination</label>
                                                      <input type="text" class="form-control" id="input-phone"
                                                             value="00/00/000">
                                                    </div>
                  
                  
                                                    <div class="form-group col-md-5">
                                                          <label for="input-phone">Status</label>
                                                          <input type="text" class="form-control" id="input-phone"
                                                                 value="Active">
                                                        </div>
                  
                                                        <div class="form-group col-md-5">
                                                              <label for="input-phone">Attach File</label>
                                                              <input type="text" class="form-control" id="input-phone"
                                                                     value="Copy">
                                                            </div>
                  
                                                            <div class="form-group col-md-5">
                                                                  <label for="input-phone">Notes</label>
                                                                  <input type="text" class="form-control" id="input-phone"
                                                                         value="Contract file also attached">
                                                                </div>
                  
                                                                <div class="form-group col-md-5">
                                                                      <label for="input-phone">Photo Attach</label>
                                                                      <input type="text" class="form-control" id="input-phone"
                                                                             value="Pic">
                                                                    </div>
                                                                    <div class="form-group col-md-5">
                                                                            <label for="input-phone">Qualification</label>
                                                                            <input type="text" class="form-control" id="input-phone"
                                                                                   value="B.sc">
                                                                          </div>
                   
                    </div>
                    </div>
               
            
          
      

           <div class="row">
                  <div class="col-md-12">
                      <button class="btn px-gdn-btn btn-rounded float-right" type="submit" onclick="added()" >Submit</button>
                  </div>
              </div>

      

  </div>
</div>
<!-- Steps form -->

