.sp-input {
    border: none;
    border-bottom: dotted 1px #000!important;
    width: 320px;
 }
 .panel-body {
    padding: 15px;
 }
 .panel-default {
    border-color: #ddd;
 }
 .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
 }

 .container-fluid {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
    background: #ffff;
}
.btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}
.frms{
  padding: 10px;
  margin-top: 20px;
}
.input1 {
    background-color: #084280!important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


 
 
 