<form>
    <!-- service-form -->
    <div class="service-forms">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12 multistep-form-section">
                <form name="form"  novalidate>
                        <div class="col-md-12 justify-content-md-center">
                                <div class="">
                                <h4 style="    width: 100%;
                                background: #f1f4f7;padding: 10px;text-transform: uppercase;">CTC Forms</h4>
                                </div>
                                <div class="col col-lg-2">                                        
                                </div>
                              </div>
                           <div class="row">
                        <div class="col-12 col-sm-12 form-group">
                            <form class="frms" name="form" novalidate>


                                <div _ngcontent-c7="" class="col-md-12">
                                    <div _ngcontent-c7="" class="row">
                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">EPN NO</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                          
                                              <div class="form-group service-form-group">                             
                                                  <input type="text" placeholder="EPN NO" [(ngModel)]="adduser.EPN_NO"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="EPN_NO" value="" #EPN_NO />
      
                                              </div>                                            
                                          </div>
                                        </div>
                                      </div>
                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">ESIC No</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                              <input type="text" placeholder="ESIC No" [(ngModel)]="adduser.ESIC_No"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESIC_No" value="" #ESIC_No />
      
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>



                                  <div _ngcontent-c7="" class="col-md-12">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">ESIC Amount</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                            
                                                <div class="form-group service-form-group">                             
                                                    <input type="number" placeholder="ESIC Amount" min="0" [(ngModel)]="adduser.ESIC_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESIC_Amount" value="" #ESIC_Amount />
      
                                                </div>                                            
                                            </div>
                                          </div>
                                        </div>
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">BSS EPF Number</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                                <input type="text" placeholder="BSS EPF Number" [(ngModel)]="adduser.BSS_EPF_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="BSS_EPF_Number" value="" #BSS_EPF_Number />
      
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>


                                    <div _ngcontent-c7="" class="col-md-12">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="col-md-3">
                                                <label _ngcontent-c7="">BSS EPF Amount</label>
                                              </div>
                                              <div _ngcontent-c7="" class="col-md-9">
                                              
                                                  <div class="form-group service-form-group">                             
                                                      <input type="number" placeholder="BSS EPF Amount"  min="0" [(ngModel)]="adduser.BSS_EPF_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="BSS_EPF_Amount" value="" #BSS_EPF_Amount />
      
                                                  </div>                                            
                                              </div>
                                            </div>
                                          </div>
                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="col-md-3">
                                                <label _ngcontent-c7="">MMSPL EPF Number</label>
                                              </div>
                                              <div _ngcontent-c7="" class="col-md-9">
                                                  <input type="text" placeholder="MMSPL EPF Number" [(ngModel)]="adduser.MMSPL_EPF_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="MMSPL_EPF_Number" value="" #MMSPL_EPF_Number />
      
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                      <div _ngcontent-c7="" class="col-md-12">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                              <div _ngcontent-c7="" class="row">
                                                <div _ngcontent-c7="" class="col-md-3">
                                                  <label _ngcontent-c7="">MMSPL EPF Amount</label>
                                                </div>
                                                <div _ngcontent-c7="" class="col-md-9">
                                                
                                                    <div class="form-group service-form-group">                             
                                                        <input type="number" placeholder="MMSPL EPF Amount" min="0"  [(ngModel)]="adduser.MMSPL_EPF_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="MMSPL_EPF_Amount" value="" #MMSPL_EPF_Amount />
      
                                                    </div>                                            
                                                </div>
                                              </div>
                                            </div>
                                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                              <div _ngcontent-c7="" class="row">
                                                <div _ngcontent-c7="" class="col-md-3">
                                                  <label _ngcontent-c7="">UAN Number</label>
                                                </div>
                                                <div _ngcontent-c7="" class="col-md-9">
                                                    <input type="text" placeholder="UAN Number" [(ngModel)]="adduser.UAN_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="UAN_Number" value="" #UAN_Number /> 
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>



                                        <div _ngcontent-c7="" class="col-md-12">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                    <label _ngcontent-c7="">UAN Amount</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                  
                                                      <div class="form-group service-form-group">                             
                                                          <input type="number" placeholder="UAN Amount"  min="0" [(ngModel)]="adduser.UAN_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="UAN_Amount" value="" #UAN_Amount />
      
                                                      </div>                                            
                                                  </div>
                                                </div>
                                              </div>
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                    <label _ngcontent-c7="">PF Elegible</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                      <input type="text" placeholder="PF Elegible" [(ngModel)]="adduser.PF_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="PF_Elegible" value="" #PF_Elegible /> 
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>


                                          <div _ngcontent-c7="" class="col-md-12">
                                              <div _ngcontent-c7="" class="row">
                                                <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                  <div _ngcontent-c7="" class="row">
                                                    <div _ngcontent-c7="" class="col-md-3">
                                                      <label _ngcontent-c7="">PF Elegible</label>
                                                    </div>
                                                    <div _ngcontent-c7="" class="col-md-9">
                                                    
                                                        <div class="form-group service-form-group">                             
                                                            <input type="text" placeholder="PF Elegible" [(ngModel)]="adduser.PF_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="PF_Elegible" value="" #PF_Elegible />  
                                                        </div>                                            
                                                    </div>
                                                  </div>
                                                </div>
                                                <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                  <div _ngcontent-c7="" class="row">
                                                    <div _ngcontent-c7="" class="col-md-3">
                                                      <label _ngcontent-c7="">PF_Amount</label>
                                                    </div>
                                                    <div _ngcontent-c7="" class="col-md-9">
                                                        <input type="number" placeholder="PF Amount" min="0" [(ngModel)]="adduser.PF_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="PF_Amount" value="" #PF_Amount />
      
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>



                                            <div _ngcontent-c7="" class="col-md-12">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="col-md-3">
                                                        <label _ngcontent-c7="">ESI Elegible</label>
                                                      </div>
                                                      <div _ngcontent-c7="" class="col-md-9">
                                                      
                                                          <div class="form-group service-form-group">                             
                                                              <input type="text" placeholder="ESI Elegible" [(ngModel)]="adduser.ESI_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESI_Elegible" value="" #ESI_Elegible /> 
                                                          </div>                                            
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="col-md-3">
                                                        <label _ngcontent-c7="">ESI Amount</label>
                                                      </div>
                                                      <div _ngcontent-c7="" class="col-md-9">
                                                          <input type="number" placeholder="ESI Amount" min="0" [(ngModel)]="adduser.ESI_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESI_Amount" value="" #ESI_Amount />
      
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>



                                              <div _ngcontent-c7="" class="col-md-12">
                                                  <div _ngcontent-c7="" class="row">
                                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                      <div _ngcontent-c7="" class="row">
                                                        <div _ngcontent-c7="" class="col-md-3">
                                                          <label _ngcontent-c7="">Professional Tax Type</label>
                                                        </div>
                                                        <div _ngcontent-c7="" class="col-md-9">
                                                        
                                                            <div class="form-group service-form-group">                             
                                                                <select class="form-control"  [(ngModel)]="adduser.Professional_Tax_Type" name="Hrs_pattern" value="" #Professional_Tax_Type id="exampleFormControlSelect1">
                                                                    <option>State</option>
                                                                    <option>Centrel</option>
                                                                  </select> 
                                                            </div>                                            
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                      <div _ngcontent-c7="" class="row">
                                                        <div _ngcontent-c7="" class="col-md-3">
                                                          <label _ngcontent-c7="">Professional Tax No</label>
                                                        </div>
                                                        <div _ngcontent-c7="" class="col-md-9">
                                                            <input type="number" placeholder="Professional Tax Amount" [(ngModel)]="adduser.Professional_Tax_No"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Professional_Tax_No" value="" #Professional_Tax_No />
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>




                                                <div _ngcontent-c7="" class="col-md-12">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                        <div _ngcontent-c7="" class="row">
                                                          <div _ngcontent-c7="" class="col-md-3">
                                                            <label _ngcontent-c7="">Professional Tax Amount</label>
                                                          </div>
                                                          <div _ngcontent-c7="" class="col-md-9">
                                                          
                                                              <div class="form-group service-form-group">                             
                                                                  <input type="number" placeholder="Professional Tax Amount" min="0" [(ngModel)]="adduser.Professional_Tax_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Professional_Tax_Amount" value="" #Professional_Tax_Amount />
                                                              </div>                                            
                                                          </div>
                                                        </div>
                                                      </div>
                                                      
                                                    </div>
                                                  </div>


                            <div class="row">
  
  
  
  
  
 
  
  <div class="col-12 col-sm-5 form-group">
  <button class="input1" (click) = "addapi()">Next</button>
  </div>
  
  
  
                                 </div>
                            </form>
  
                  </div>
  
  
  
                    </div>
  
  
                  </form>
              </div>
              </div>
            </div>
          </div>
  
    </div>
  </form>
  