<div class="service-form col-md-12">

    <div class="row">
      <div class="header">
  
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <h3 class="adsc"> <i class="fa fa-university"></i>  &nbsp;Assigned Employees Management</h3></div>

              </div>
  
        <br></div><br>
  
        <div class="col">
  
          <div class="col-md-12">
            <div class="row">
              <div class="tabl" >
                  <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                      <thead>
                          <tr>
                              <th>Id</th>
                              <th>Employee_No</th>
                              <th>Name</th>
                              <th>Gender</th>
                              <th>Contact_No</th>
                              <th>No of Days Working</th>
                              <th>Client ID</th>
                              <th>Company Name</th>
                              <th>View</th>
                              <th>Edit</th>     
                          </tr>
                      </thead>
                      <tbody>
                                  <ng-container  *ngFor="let data of datas.data">
                                      
                                  <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                     
                                      <td>{{data.Employee_No}}</td>
                                      <td id="l1">{{data.Name}}</td>
                                      <td id="a1">{{data.Gender}}</td>
                                      <td id="pc1">{{data.Contact_No}}</td>
                                      <td id="pc1">{{data.Date_Of_Joining}}</td>
                                      <td id="pc1">{{data.Email_id}}</td>
                                      <td id="pc1">{{data.Local_Address}}</td>
                                      <td id="pc1">{{data.Address}}</td>
                                      <td> <button class="accordion-toggle delete btn mat-button-wrapper btn-sm" data-toggle="collapse"  (click)="view($event, data)"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                      <td> <button class="update btn btn-primary btn-sm" data-toggle="collapse"  (click)="edit($event, data)"><i class="material-icons">create</i></button></td>                                    
                                  </tr>
                 
                                  </ng-container>
  
                      </tbody>
                  </table>
                  <div *ngIf="loading" ><div class="loader text-center"></div></div>
  
                  <div class="card-footer p-0">
                  <ngb-pagination [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                          </div>
  
            </div>
            </div>
          </div>
          </div>
  </div>
  </div>  
          <div *ngIf="deleteLoading" id="snackbar" class="show">Deleting... Pleaser Wait!</div>
  


