<form>
    <!-- service-form -->
    <div class="service-forms">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12 multistep-form-section">

                    <div class="col-md-12 justify-content-md-center">
                        <h3 style="    width: 100%;
                        background: #f1f4f7;padding: 10px;text-transform: uppercase;">Configure Number</h3>
                            
                    </div> 
  
            <form novalidate [formGroup]="myform">


                <div _ngcontent-c7="" class="col-md-12">
                    <div _ngcontent-c7="" class="row">
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">Red Alert Number</label>
                          </div><div _ngcontent-c7="" class="col-md-9">
                          
                              <input type="number" class="form-control"  [(ngModel)]="addclient.Red_alert" name="Red_alert" value="" #Red_alert  formControlName="Red_alerts" required>
                              <div class="form-control-feedback"
                                 *ngIf="Red_alerts.errors && (Red_alerts.dirty || Red_alerts.touched)">
                                <p *ngIf="Red_alerts.errors.required">Red Alert Number is required</p>
                                <p *ngIf="Red_alerts.errors.minlength">Invalid data</p>
                              </div>
                            
                            
                            <div _ngcontent-c7="" class="form-icon">
                              
                            </div><!----><!---->

                            <div class="col-12 col-sm-5 form-group"[ngClass]="{
                              'has-danger': Red_alerts.invalid && (Red_alerts.dirty || Red_alerts.touched),
                              'has-success': Red_alerts.valid && (Red_alerts.dirty || Red_alerts.touched)
                         }">                                                        
                        </div>

                          </div>
                        </div>
                      </div>
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">Fire Department Number</label>
                          </div>
                          <div _ngcontent-c7="" class="col-md-9">
                              <input type="number" class="form-control"   [(ngModel)]="addclient.Fire_alert" name="Fire_alert" value="" #Fire_alert  formControlName="Fire_alerts" required>
                            <div class="form-control-feedback"
                                *ngIf="Fire_alerts.errors && (Fire_alerts.dirty || Fire_alerts.touched)">
                              <p *ngIf="Fire_alerts.errors.required">Fire Department Number is required</p>
                              <p *ngIf="Fire_alerts.errors.minlength"> Data Invalid </p>
                            </div>
                            <div _ngcontent-c7="" class="form-icon">

                            </div><!----><!---->
                            <div class="col-12 col-sm-5 form-group"
                            [ngClass]="{
                             'has-danger': Fire_alerts.invalid && (Fire_alerts.dirty || Fire_alerts.touched),
                             'has-success': Fire_alerts.valid && (Fire_alerts.dirty || Fire_alerts.touched)
                        }">
                       </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div _ngcontent-c7="" class="col-md-12">
                    <div _ngcontent-c7="" class="row">
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">Ambulanace Number</label>
                          </div><div _ngcontent-c7="" class="col-md-9">
                          
                              <input type="number" class="form-control"  [(ngModel)]="addclient.Ambulance_alert" name="Ambulance_alert" value="" #Ambulance_alert  formControlName="Ambulance_alerts" required>
                              <div class="form-control-feedback"
                                 *ngIf="Ambulance_alerts.errors && (Ambulance_alerts.dirty || Ambulance_alerts.touched)">
                                <p *ngIf="Ambulance_alerts.errors.required">Ambulanace Number is required</p>
                                <p *ngIf="Ambulance_alerts.errors.minlength">Invalid data</p>
                              </div>
                            
                            
                            <div _ngcontent-c7="" class="form-icon">
                              
                            </div><!----><!---->

                            <div class="col-12 col-sm-5 form-group"[ngClass]="{
                              'has-danger': Ambulance_alerts.invalid && (Ambulance_alerts.dirty || Ambulance_alerts.touched),
                              'has-success': Ambulance_alerts.valid && (Ambulance_alerts.dirty || Ambulance_alerts.touched)
                         }">                                                        
                        </div>

                          </div>
                        </div>
                      </div>
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">Police Number</label>
                          </div>
                          <div _ngcontent-c7="" class="col-md-9">
                              <input type="number" class="form-control"   [(ngModel)]="addclient.Police_alert" name="Police_alert" value="" #Police_alert  formControlName="Police_alerts" required>
                            <div class="form-control-feedback"
                                *ngIf="Police_alerts.errors && (Police_alerts.dirty || Police_alerts.touched)">
                              <p *ngIf="Police_alerts.errors.required">Police Number is required</p>
                              <p *ngIf="Police_alerts.errors.minlength"> Data Invalid </p>
                            </div>
                            <div _ngcontent-c7="" class="form-icon">

                            </div><!----><!---->
                            <div class="col-12 col-sm-5 form-group"
                            [ngClass]="{
                             'has-danger': Police_alerts.invalid && (Police_alerts.dirty || Police_alerts.touched),
                             'has-success': Police_alerts.valid && (Police_alerts.dirty || Police_alerts.touched)
                        }">
                       </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>   
                  
                  <div _ngcontent-c7="" class="col-md-12">
                      <div _ngcontent-c7="" class="row">
                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                          <div _ngcontent-c7="" class="row">
                            <div _ngcontent-c7="" class="col-md-3">
                              <label _ngcontent-c7="">Client ID</label>
                            </div><div _ngcontent-c7="" class="col-md-9">
                            
                                <input type="text" class="form-control"  [(ngModel)]="addclient.client_ID" name="client_ID" value="" #client_ID  formControlName="client_IDs" required>
                                <div class="form-control-feedback"
                                   *ngIf="client_IDs.errors && (client_IDs.dirty || client_IDs.touched)">
                                  <p *ngIf="client_IDs.errors.required">Client ID is required</p>
                                  <p *ngIf="client_IDs.errors.minlength">Invalid data</p>
                                </div>
                              <div _ngcontent-c7="" class="form-icon">
                                
                              </div><!----><!---->
  
                              <div class="col-12 col-sm-5 form-group"[ngClass]="{
                                'has-danger': client_IDs.invalid && (client_IDs.dirty || client_IDs.touched),
                                'has-success': client_IDs.valid && (client_IDs.dirty || client_IDs.touched)
                           }">                                                        
                          </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                              <div class="col-md-12 form-group">
                                      <div class="form-group service-form-group col-md-12">
                              <button class="input1" (click) = "addapi()">Next</button>
                              </div>
                              </div><br>
                           
                  </form>
              </div>
              </div>
            </div>
          </div>
    </div>
  </form>
  