.btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}
.frms{
  padding: 10px;
  margin-top: 20px;
}
.input1 {
    background-color: #084280!important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
  }
  .form-control{
    height: 40px!important;
  }
  label {
    font-size: 14px;
    color: #222;
    text-align: right;
    float: right;
    font-weight: 400;
    padding-top: 4px;
}
.justify-content-md-center {
    justify-content: center !important;
    padding-bottom: 1%;
    padding-top: 4%;
}
.form-group {
    margin-bottom: 1px;
}
.input1[_ngcontent-c4] {
    background-color: #084280 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
}
.input1[_ngcontent-c4][_ngcontent-c4] {
    background-color: #084280 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 100px;
  }