


<form>
  <!-- service-form -->
  <div class="service-forms">
      <div class="row">

        <div class="">
          <div class="row">
            <div class="col-sm-12 multistep-form-section">
              <form name="form"  novalidate>
                      <div class="row justify-content-md-center">
                              <div class="col-md-auto">
                              <h4>CTC Forms</h4>
                              </div>
                              <div class="col col-lg-2">                                        
                              </div>
                            </div>
                          
                         <div class="row">
                      <div class="col-12 col-sm-12 form-group">
                          <form class="frms" name="form" novalidate>
                          <div class="row">
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>EPN NO</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="EPN NO" [(ngModel)]="adduser.EPN_NO"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="EPN_NO" value="" #EPN_NO />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>EPN Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="EPN Amount" min="0" [(ngModel)]="adduser.EPN_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="EPN_Amount" value="" #EPN_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>ESIC No</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="ESIC No" [(ngModel)]="adduser.ESIC_No"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESIC_No" value="" #ESIC_No />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>ESIC Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="ESIC Amount" min="0" [(ngModel)]="adduser.ESIC_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESIC_Amount" value="" #ESIC_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>BSS EPF Number</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="BSS EPF Number" [(ngModel)]="adduser.BSS_EPF_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="BSS_EPF_Number" value="" #BSS_EPF_Number />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>BSS EPF Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="BSS EPF Amount"  min="0" [(ngModel)]="adduser.BSS_EPF_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="BSS_EPF_Amount" value="" #BSS_EPF_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>MMSPL EPF Number</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="MMSPL EPF Number" [(ngModel)]="adduser.MMSPL_EPF_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="MMSPL_EPF_Number" value="" #MMSPL_EPF_Number />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>MMSPL EPF Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="MMSPL EPF Amount" min="0"  [(ngModel)]="adduser.MMSPL_EPF_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="MMSPL_EPF_Amount" value="" #MMSPL_EPF_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>UAN Number</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="UAN Number" [(ngModel)]="adduser.UAN_Number"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="UAN_Number" value="" #UAN_Number />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>UAN Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="UAN Amount"  min="0" [(ngModel)]="adduser.UAN_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="UAN_Amount" value="" #UAN_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>PF Elegible</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="PF Elegible" [(ngModel)]="adduser.PF_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="PF_Elegible" value="" #PF_Elegible />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>PF Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="PF Amount" min="0" [(ngModel)]="adduser.PF_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="PF_Elegible" value="" #PF_Elegible />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>ESI Elegible</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="text" placeholder="ESI Elegible" [(ngModel)]="adduser.ESI_Elegible"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESI_Elegible" value="" #ESI_Elegible />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>ESI Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="ESI Amount" min="0" [(ngModel)]="adduser.ESI_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="ESI_Amount" value="" #ESI_Amount />
    
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>Professional Tax Type</label>
      <label class="control-label sr-only" for="name"></label>
      <!-- <input type="text" placeholder="Gender"  [(ngModel)]="adduser.Gender" class="form-control col-md-12"   pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Hrs_pattern" value="" #Hrs_pattern /> -->
      <select class="form-control"  [(ngModel)]="adduser.Professional_Tax_Type" name="Hrs_pattern" value="" #Professional_Tax_Type id="exampleFormControlSelect1">
          <option>State</option>
          <option>Centrel</option>
        </select>  
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>Professional Tax No</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="Professional Tax Amount" [(ngModel)]="adduser.Professional_Tax_No"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Professional_Tax_No" value="" #Professional_Tax_No />
  </div>
</div>
<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          <label>Professional Tax Amount</label>
      <label class="control-label sr-only" for="name"></label>
      <input type="number" placeholder="Professional Tax Amount" min="0" [(ngModel)]="adduser.Professional_Tax_Amount"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Professional_Tax_Amount" value="" #Professional_Tax_Amount />
  </div>
</div>


<div class="col-12 col-sm-5 form-group">
  <div class="form-group service-form-group">
          </div>
</div>

<div class="col-12 col-sm-5 form-group">
<button class="input1" (click) = "addapi()">Next</button>
</div>



                               </div>
                          </form>

                </div>



                  </div>


                </form>
            </div>
            </div>
          </div>
        </div>

  </div>
</form>
