<!-- Steps form -->
<div class="card">
  <div class="card-body mb-4">
      <h3 class="text-center font-weight-bold pt-4 pb-5"><strong>Edit Client Details</strong></h3>
    

            <div class="row">

                    <div class="col-md-6">
                            <h3 class="font-weight-bold pl-0 my-4"><strong>Company Details</strong></h3>
                            
                            <div class="form-group">
                                  <label for="input-phone">Company Name</label>
                                  <input type="text" class="form-control" id="input-phone"
                                         placeholder="Mumaran Textiles">
                                </div>
          
                            <div class="form-group">
                                  <label for="input-phone">Address 1</label>
                                  <input type="text" class="form-control" id="input-phone"
                                         placeholder="South Mabmalam">
                                </div>
          
                                <div class="form-group">
                                      <label for="input-phone">Address 2</label>
                                      <input type="text" class="form-control" id="input-phone"
                                             placeholder="T.nager">
                                    </div>
          
                             <div class="form-group">
                          <label for="input-phone">City</label>
                          <input type="text" class="form-control" id="input-phone"
                                 placeholder="chennai">
                        </div>
                        <div class="form-group">
                              <label for="input-phone">State</label>
                              <input type="text" class="form-control" id="input-phone"
                                     placeholder="Tamil nadu">
                            </div>
                          
                        <div class="form-group">
                              <label for="input-phone">Country</label>
                              <input type="text" class="form-control" id="input-phone"
                                     placeholder="India">
                            </div>
          
                            <div class="form-group">
                                  <label for="input-phone">Postal Code</label>
                                  <input type="text" class="form-control" id="input-phone"
                                         placeholder="600 -116">
                                </div>
          
                            <div class="form-group">
                                  <label for="input-phone">Incharge</label>
                                  <input type="text" class="form-control" id="input-phone"
                                         placeholder="MR.Thurai">
                                </div>
          
                                <div class="form-group">
                                      <label for="input-phone">Phone</label>
                                      <input type="text" class="form-control" id="input-phone"
                                             placeholder="987654321">
                                    </div>
          
                                    <div class="form-group">
                                          <label for="input-phone">Mobile Phone</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 placeholder="044-9875432">
                                        </div>
          
                                    <div class="form-group">
                                          <label for="input-phone">Work Phone</label>
                                          <input type="text" class="form-control" id="input-phone"
                                                 placeholder="9876543312">
                                        </div>
          
                                        <div class="form-group">
                                              <label for="input-phone">Fax</label>
                                              <input type="text" class="form-control" id="input-phone"
                                                     placeholder="22-4-5-678-98">
                                            </div>
          
                                            
                                                
                                        <div class="form-group">
                                              <label for="input-phone">Email_id 1</label>
                                              <input type="text" class="form-control" id="input-phone"
                                                     placeholder="Kumaran@gmail.com">
                                            </div>
          
                                            <div class="form-group">
                                                  <label for="input-phone">Email_id 2</label>
                                                  <input type="text" class="form-control" id="input-phone"
                                                         placeholder="Kumara1@gmail.com">
                                                </div>
          
          
                                        <div class="form-group">
                                              <label for="input-phone">Industry</label>
                                              <input type="text" class="form-control" id="input-phone"
                                                     placeholder="Textiles">
                                            </div>
          
          
                                            <div class="form-group">
                                                  <label for="input-phone">Enroll Date</label>
                                                  <input type="text" class="form-control" id="input-phone"
                                                         placeholder="23/10/2018">
                                                </div>
          
                                                <div class="form-group">
                                                      <label for="input-phone">Attach File</label>
                                                      <input type="text" class="form-control" id="input-phone"
                                                             placeholder="Contract Copys">
                                                    </div>
          
                                                    <div class="form-group">
                                                          <label for="input-phone">Notes</label>
                                                          <input type="text" class="form-control" id="input-phone"
                                                                 placeholder="OtherDetial in Contract">
                                                        </div>
          
                                                        <div class="form-group">
                                                              <label for="input-phone">Phone</label>
                                                              <input type="text" class="form-control" id="input-phone"
                                                                     placeholder="98765432134">
                                                            </div>
          
                           
                    </div>
               
            
          
      

          <!-- First Step -->


          <div class="col-md-6">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Personal details</strong></h3>
                
    <div class="form-group">
            <label for="Client">Client Name</label>
            <input type="text" class="form-control" id="Client"
                   placeholder="kumaran">
          </div>
    <div class="form-group">
            <label for="input-phone">Client Address</label>
            <input type="text" class="form-control" id="input-phone"
                   placeholder="east anna nager">
          </div>
        <div class="form-group">
                <label for="input-phone">Client Phone</label>
                <input type="text" class="form-control" id="input-phone"
                       placeholder="Avadi">
              </div>
    <div class="form-group">
            <label for="input-phone"> Client Email_id</label>
            <input type="text" class="form-control" id="input-phone"
                   placeholder="kumar@gmail.com">
          </div>

    <div class="form-group">
        <label for="input-phone">personal_Phone</label>
        <input type="text" class="form-control" id="input-phone"
               placeholder="988989765">
      </div>

    </div>
         
          </div>

          <!-- Second Step -->
          <!-- <div class="row">
              <div class="col-md-12"> -->
        
       

           <!-- fourth Step -->
           <div class="row">
                  <div class="col-md-12">
                      <button class="btn px-gdn-btn btn-rounded float-right" type="submit"  onclick="added()" >Submit</button>
                  </div>
              </div>
  </div>
</div>
<!-- Steps form -->
