<h2 class="text-center">Google Maps</h2>
<div class="text-center">
  <nav class="breadcrumb mx-auto d-inline-block">
    <a class="breadcrumb-item text-body" routerLink="/">Home</a>
    <a class="breadcrumb-item text-body" routerLink="/">Maps</a>
    <span class="breadcrumb-item active">Google Maps</span>
  </nav>
</div>
<div class="card">
  <div class="card-body">
        <!-- <ng-container  *ngFor="let data of maplist.data"> -->
       <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng" [label] = "emp"></agm-marker>
       <!-- </ng-container> -->
    </agm-map>
  </div>
  

  <div class="col">
  
      <div class="col-md-12">
        <div class="row">
          <div class="tabl" >
              <table class="table table-bordered" style="border-collapse:collapse;">
                  <thead>
                      <tr>
                          <th>Employee Id</th>
                          <th>Name</th>
                          <th>Lat</th>
                          <th>Long</th>
                      </tr>
                  </thead>
                  <tbody>
                              <ng-container  *ngFor="let data of maplist.data">
                                  
                              <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                 
                                  <td>{{data.Employee_id}}</td>
                                  <td id="l1">{{data.Name}}</td>
                                  <td id="a1">{{data.Lat}}</td>
                                  <td id="pc1">{{data.Long}}</td>
                                  <td><button (click)= 'select(data.Lat, data.Long)' >select</button></td>
                              </tr>
             
                              </ng-container>

                  </tbody>
              </table>
        </div>
        </div>
      </div>
      </div>
</div>