<div class="service-form col-md-12">

    <div class="row">
      <div class="header">

                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <h3 class="adsc"> <i class="fa fa-university"></i>  &nbsp;Assigned Employee to clients</h3></div>

                  <div class="col-12 col-md-6 mb-3">
                     <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal" routerLink="/main/assign">Assign Employee
                     </button>
                </div>
              </div>

        <br></div><br>

        <div class="dataTables_wrapper">
                <table id="example" class="display nowrap" > 
                        <thead> 
                          <tr> 
                            <th>Name</th> 
                            <th>Position</th> 
                            <th>Office</th> 
                            <th>Age</th>
                             <th>Start date</th>
                              <th>Salary</th> 
                            </tr> 
                          </thead> 
                          <tbody>
                             <tr>
                                <td>Tiger Nixon</td>
                                 <td>System Architect</td>
                                  <td>Edinburgh</td> 
                                  <td>61</td> 
                                  <td>2011/04/25</td> 
                                  <td>$320,800</td>
                             </tr>
                             <tr>
                                <td>Tiger Nixon</td>
                                 <td>System Architect</td>
                                  <td>Edinburgh</td> 
                                  <td>61</td> 
                                  <td>2011/04/25</td> 
                                  <td>$320,800</td>
                             </tr>
                             <tr>
                                <td>Tiger Nixon</td>
                                 <td>System Architect</td>
                                  <td>Edinburgh</td> 
                                  <td>61</td> 
                                  <td>2011/04/25</td> 
                                  <td>$320,800</td>
                             </tr>
                                                                                                    
                                                      
                         </tbody> 
                        <tfoot> 
                         <tr> <th>Name</th> <th>Position</th> <th>Office</th> <th>Age</th> <th>Start date</th> <th>Salary</th> </tr> </tfoot> </table>
                        </div>