<!-- BEGIN # BOOTSNIP INFO -->


<div class="container">
  <div class="row">
      <div _ngcontent-c4="" class="header">
        <div _ngcontent-c4="" class="row">
          <div _ngcontent-c4="" class="col-12 col-md-6 mb-3">
            <div _ngcontent-c4="" class="col-md-8">
              <h3 _ngcontent-c4="" class="adsc">
                <i _ngcontent-c4="" class="fa fa-university"></i> &nbsp;Point Tracking</h3>
              </div>
            </div>
            <div _ngcontent-c4="" class="col-md-6">
                <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="collapse"  data-toggle="modal" data-target="#login-modal1" (click)="send()">Add Map Points</button>
            </div>
          </div>
        </div>
        
        

        <div class="col">
    
            <div class="col-md-12">
              <div class="row">
                <div class="tabl" >
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                                <th>Assigned Employee</th>
                                <th>Map Title</th>
                                <th>Descriptions</th>
                                <th>Created Time</th>
                                <th>Updated Time</th>
                                <th>Status</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                                <ng-container  *ngFor="let data of datas ;  let i = index">
                                        <tr>
                                        <td>{{i+1}}</td> 
                                        <td>{{data.Employee_Name}}</td> 
                                        <td>{{data.title}}</td>
                                        <td>{{data.description}}</td>
                                        <td id="l1">{{data.createdtime}}</td>
                                        <td id="a1">{{data.updatedtime}}</td>
                                        <td id="pc1">{{data.status}}</td>
                                        <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse"   (click)="view($event, data)"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                        <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse"  data-toggle="modal" data-target="#login-modal2" (click)="edit($event, data)"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                        <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse"   (click)="delete($event, data)"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>

                                    </tr>
                                    </ng-container>      
                        </tbody>
                    </table>
                    <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                    <div class="card-footer p-0">
                    <ngb-pagination   [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                    </div>     
              </div>
              </div>
            </div>
            </div>
        
       
  </div>
</div>
<!-- END # BOOTSNIP INFO -->




        <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="max-width: 700px;margin-right: 17%;">
  <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
   
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h3>Add Map points</h3>
                          
                           </div>
                            <form id="Login">

                                <div class="form-group">
                                    <label>Select Employee</label>
                                       <select class="form-control"   name="professional_type" value="" #employees id="exampleFormControlSelect1">
                                        <option>Select Employee</option>
                                        <ng-container  *ngFor="let data of Employee_data">
                                        <option  value="{{data.id}}">{{data.Name}}</option>
                                      </ng-container>
                                      </select>                                     
                                    </div>
                                <div class="form-group">
                        
                                    <label>Title</label>
                                        <input type="text" class="form-control" id="name" value="" #titles>
                                    </div>

                                <div class="form-group">
                        
                                <label>Description</label>
                                    <input type="text" class="form-control" id="name" value="" #Descriptions>
                                </div>  
                            </form>
                            </div>
                            <button class="btn btn-primary" data-dismiss="modal" style="color:#fff; background:#13477e!important;" (click) = "assign(employees.value,titles.value,Descriptions.value)">Submit</button>
                        </div>
              </div>
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
              
                
                
            </div>
            <!-- End # DIV Form -->
            
  </div>
</div>
</div>
<!-- END # MODAL LOGIN -->



<div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 700px;margin-right: 17%;">
    <div class="modal-content">
  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
     
              
              <!-- Begin # DIV Form -->
              <div id="div-forms">
              
                  <!-- Begin # Login Form -->
                  <form id="login-form">
                  <div class="modal-body">
            
                      <div class="login-form">
                          <div class="main-div">
                              <div class="panel">
                                  <h3>Update Map points</h3>
                            
                             </div>
                              <form id="Login">

                                  <div class="form-group">
                                      <label>Employee Name</label>
                                          <input type="text" class="form-control" id="name" value="{{Points.Employee_Name}}" #employee>
                                      </div>
                                      <div class="form-group">
                                          <label>Title</label>
                                              <input type="text" class="form-control" id="name" value="{{Points.title}}" #title>
                                          </div>
                                          <div class="form-group">
                                              <label>Description</label>
                                                  <input type="text" class="form-control" id="name" value="{{Points.description}}" #Description>
                                              </div>
                                  <div class="form-group">
                                      <label>Status</label>
                                          <input type="text" class="form-control" id="name" value="{{Points.status}}" #status>
                                      </div>
                              </form>
                              </div>
                              <button class="btn btn-primary" data-dismiss="modal" style="color:#fff; background:#13477e!important;" (click) = "assign1(employee.value,title.value,Description.value,status.value)">Submit</button>
                          </div>
                </div>
                  </form>
                  <!-- End # Login Form -->
                  
                  <!-- Begin | Lost Password Form -->
                
                  
                  
              </div>
              <!-- End # DIV Form -->
              
    </div>
  </div>
  </div>
  <!-- END # MODAL LOGIN -->



