<div class="row justify-content-md-center">
    <div class="col-md-auto">
    <h3>History Of Client</h3>
    </div>
    <div class="col col-lg-2">                                        
    </div>
  </div>

<details>
    <summary>The Chennai Silks 2019/10/10 -  2019/11/10  </summary>
  
            <label>Client Details</label>
                <table style="width:100%">

                        <tr>
                         <th>Clinet ID</th>
                                <td>:{{model.Employee_No}}</td>
                              </tr>
                         <tr>
                          <th>No of Sites</th>
                          <td>:{{model.Employee_No}}</td>
                        </tr>
                        
                            <tr>
                          <th>Client Name</th>
                          <td>: {{model.Designation}}</td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td>: {{model.Name}}</td>
                        </tr>    
                         <tr>
                          <th>Contact Name</th>
                          <td>: {{model.Local_Address}}</td>
                        </tr>
                        <tr>
                          <th>Contact No</th>
                          <td>: {{model.Contact_No}}</td>
                        </tr>
                         <tr>
                          <th>E Mail ID</th>
                          <td>: {{model.EPF_No}}</td>
                        </tr>
                        <tr>
                          <th>Designations</th>
                          <td>: {{model.ESIC_No}}</td>
                        </tr>
                       
                       
                         <tr>
                          <th>Deployment</th>
                          <td>: {{model.BSS_EPF_Number}}</td>
                        </tr>
                        <tr>
                          <th>Hrs pattern</th>
                          <td>: {{model.BSSPL_EPF_Number}}</td>
                        </tr>
                         <tr>
                          <th>RATES</th>
                          <td>: {{model.MMSPL_EPF_Number}}</td>
                        </tr>
                        <tr>
                          <th>Value</th>
                          <td>: {{model.UAN_Number}}</td>
                        </tr>
                         <tr>
                          <th>Allowance</th>
                          <td>: {{model.Date_Of_Joining}}</td>
                        </tr>
                        <tr>
                          <th>Total Allowance</th>
                          <td>: {{model.Date_Of_Relieving}}</td>
                        </tr>
                        
                      
                         <tr>
                          <th>Wages</th>
                          <td>: {{model.PF_Elegible}}</td>
                        </tr>
                        <tr>
                          <th>Total Wages</th>
                          <td>: {{model.ESI_Elegible}}</td>
                        </tr>
                        <tr>
                          <th>Add Value</th>
                          <td>: {{model.Professional_Tax}}</td>
                        </tr>
                        <tr>
                          <th>MARGIN</th>
                          <td>: {{model.Working_Status}}</td>
                        </tr>
                        <tr>
                          <th>Contract Start Date</th>
                          <td>: {{model.Emi}}</td>
                        </tr>  
                        
                           <tr>
                          <th>Roc date From</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>ROC to</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>Accts Info</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>Invoice cycle</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>Credit Period</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>No of Supervisor</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>No of Assistant Manager</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>No of Security</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>Start Date</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                           <tr>
                          <th>End date</th>
                          <td>: {{model.Emi}}</td>
                        </tr>                
                                    
                </table> 
                      
                      
        
        


  </details>
  <details>
      <summary>The Chennai Silks 2020/10/10 -  2019/11/10  </summary>
    
              <label>Client Details</label>
                  <table style="width:100%">
  
                          <tr>
                           <th>Clinet ID</th>
                                  <td>:{{model.Employee_No}}</td>
                                </tr>
                           <tr>
                            <th>No of Sites</th>
                            <td>:{{model.Employee_No}}</td>
                          </tr>
                          
                              <tr>
                            <th>Client Name</th>
                            <td>: {{model.Designation}}</td>
                          </tr>
                          <tr>
                            <th>Address</th>
                            <td>: {{model.Name}}</td>
                          </tr>    
                           <tr>
                            <th>Contact Name</th>
                            <td>: {{model.Local_Address}}</td>
                          </tr>
                          <tr>
                            <th>Contact No</th>
                            <td>: {{model.Contact_No}}</td>
                          </tr>
                           <tr>
                            <th>E Mail ID</th>
                            <td>: {{model.EPF_No}}</td>
                          </tr>
                          <tr>
                            <th>Designations</th>
                            <td>: {{model.ESIC_No}}</td>
                          </tr>
                         
                         
                           <tr>
                            <th>Deployment</th>
                            <td>: {{model.BSS_EPF_Number}}</td>
                          </tr>
                          <tr>
                            <th>Hrs pattern</th>
                            <td>: {{model.BSSPL_EPF_Number}}</td>
                          </tr>
                           <tr>
                            <th>RATES</th>
                            <td>: {{model.MMSPL_EPF_Number}}</td>
                          </tr>
                          <tr>
                            <th>Value</th>
                            <td>: {{model.UAN_Number}}</td>
                          </tr>
                           <tr>
                            <th>Allowance</th>
                            <td>: {{model.Date_Of_Joining}}</td>
                          </tr>
                          <tr>
                            <th>Total Allowance</th>
                            <td>: {{model.Date_Of_Relieving}}</td>
                          </tr>
                          
                        
                           <tr>
                            <th>Wages</th>
                            <td>: {{model.PF_Elegible}}</td>
                          </tr>
                          <tr>
                            <th>Total Wages</th>
                            <td>: {{model.ESI_Elegible}}</td>
                          </tr>
                          <tr>
                            <th>Add Value</th>
                            <td>: {{model.Professional_Tax}}</td>
                          </tr>
                          <tr>
                            <th>MARGIN</th>
                            <td>: {{model.Working_Status}}</td>
                          </tr>
                          <tr>
                            <th>Contract Start Date</th>
                            <td>: {{model.Emi}}</td>
                          </tr>  
                          
                             <tr>
                            <th>Roc date From</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>ROC to</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>Accts Info</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>Invoice cycle</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>Credit Period</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>No of Supervisor</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>No of Assistant Manager</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>No of Security</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>Start Date</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                             <tr>
                            <th>End date</th>
                            <td>: {{model.Emi}}</td>
                          </tr>                
                                      
                  </table> 
                        
                        
          
          
  
  
    </details>