<form>
    <!-- service-form -->
    <div class="service-forms">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12 multistep-form-section">

                    <div class="col-md-12 justify-content-md-center">
                        <h3 style="    width: 100%;
                        background: #f1f4f7;padding: 10px;text-transform: uppercase;">Adding New Client</h3>
                            
                    </div> 
  
            <form novalidate [formGroup]="myform">


                <div _ngcontent-c7="" class="col-md-12">
                  <div _ngcontent-c7="" class="row">
                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                      <div _ngcontent-c7="" class="row">
                        <div _ngcontent-c7="" class="col-md-3">
                          <label _ngcontent-c7="">User name</label>
                        </div><div _ngcontent-c7="" class="col-md-9">
                        
                          <input type="text" class="form-control col-md-12 "  [(ngModel)]="addclient.User_name" name="User_name" value="" #User_name  formControlName="user_names" required >
                          <div class="form-control-feedback"
                             *ngIf="user_names.errors && (user_names.dirty || user_names.touched)">
                            <p *ngIf="user_names.errors.required">User Name is required</p>
                            <p *ngIf="user_names.errors.minlength">Invalid data</p>
                          </div>
                          
                          
                          <div _ngcontent-c7="" class="form-icon">
                            
                          </div><!----><!---->
                        </div>
                      </div>
                    </div>
                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                      <div _ngcontent-c7="" class="row">
                        <div _ngcontent-c7="" class="col-md-3">
                          <label _ngcontent-c7="">Password</label>
                        </div>
                        <div _ngcontent-c7="" class="col-md-9">
                            <input type="text" class="form-control col-md-12"  [(ngModel)]="addclient.Password" name="Password" value="" #Password  formControlName="passwords" required>
                            <div class="form-control-feedback"
                               *ngIf="passwords.errors && (passwords.dirty || passwords.touched)">
                              <p *ngIf="passwords.errors.required">Password is required</p>
                              <p *ngIf="passwords.errors.minlength">Invalid data</p>
                            </div>
                          <div _ngcontent-c7="" class="form-icon">

                          </div><!----><!---->

                          <div class="col-12 col-sm-5 form-group"[ngClass]="{
                            'has-danger': user_names.invalid && (user_names.dirty || user_names.touched),
                            'has-success': user_names.valid && (user_names.dirty || user_names.touched)
                       }">
                       
                       
                      </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>








                <div _ngcontent-c7="" class="col-md-12">
                    <div _ngcontent-c7="" class="row">
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">No of Sites</label>
                          </div><div _ngcontent-c7="" class="col-md-9">
                          
                              <input type="text" class="form-control"  [(ngModel)]="addclient.No_of_Sites" name="No_of_Sites" value="" #No_of_Sites  formControlName="No_of_Sitess" required>
                              <div class="form-control-feedback"
                                 *ngIf="No_of_Sitess.errors && (No_of_Sitess.dirty || No_of_Sitess.touched)">
                                <p *ngIf="No_of_Sitess.errors.required">No of Sitess is required</p>
                                <p *ngIf="No_of_Sitess.errors.minlength">Invalid data</p>
                              </div>
                            
                            
                            <div _ngcontent-c7="" class="form-icon">
                              
                            </div><!----><!---->

                            <div class="col-12 col-sm-5 form-group"[ngClass]="{
                              'has-danger': user_names.invalid && (user_names.dirty || user_names.touched),
                              'has-success': user_names.valid && (user_names.dirty || user_names.touched)
                         }">                                                        
                        </div>

                          </div>
                        </div>
                      </div>
                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="col-md-3">
                            <label _ngcontent-c7="">Client_Name</label>
                          </div>
                          <div _ngcontent-c7="" class="col-md-9">
                              <input type="text" class="form-control"   [(ngModel)]="addclient.Client_Name" name="Client_Name" value="" #Client_Name  formControlName="Client_Names" required>
                            <div class="form-control-feedback"
                                *ngIf="Client_Names.errors && (Client_Names.dirty || Client_Names.touched)">
                              <p *ngIf="Client_Names.errors.required">Client Names is required</p>
                              <p *ngIf="Client_Names.errors.minlength"> Data Invalid </p>
                            </div>
                            <div _ngcontent-c7="" class="form-icon">

                            </div><!----><!---->
                            <div class="col-12 col-sm-5 form-group"
                            [ngClass]="{
                             'has-danger': Client_Names.invalid && (Client_Names.dirty || Client_Names.touched),
                             'has-success': Client_Names.valid && (Client_Names.dirty || Client_Names.touched)
                        }">
                        
                         
                       </div>
                            


                          </div>
                        </div>
                      </div>
                    </div>
                  </div>






                  <div _ngcontent-c7="" class="col-md-12">
                      <div _ngcontent-c7="" class="row">
                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                          <div _ngcontent-c7="" class="row">
                            <div _ngcontent-c7="" class="col-md-3">
                              <label _ngcontent-c7="">Address</label>
                            </div><div _ngcontent-c7="" class="col-md-9">
                            
                                <input type="text" class="form-control"  [(ngModel)]="addclient.Address" name="Address" value="" #Address  formControlName="Addresss" required>
                                <div class="form-control-feedback"
                                  *ngIf="Addresss.errors && (Addresss.dirty || Addresss.touched)">
                                  <p *ngIf="Addresss.errors.required">Client NO is required</p>
                                  <p *ngIf="Addresss.errors.minlength"> Data Invalid </p>
                                </div>
                              
                              
                              <div _ngcontent-c7="" class="form-icon">
                                
                              </div><!----><!---->
                              <div class="col-12 col-sm-5 form-group"
                              [ngClass]="{
                               'has-danger': Client_Names.invalid && (Client_Names.dirty || Client_Names.touched),
                               'has-success': Client_Names.valid && (Client_Names.dirty || Client_Names.touched)
                          }">
                          
                           
                         </div>

                            </div>
                          </div>
                        </div>
                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                          <div _ngcontent-c7="" class="row">
                            <div _ngcontent-c7="" class="col-md-3">
                              <label _ngcontent-c7="">Contact Name</label>
                            </div>
                            <div _ngcontent-c7="" class="col-md-9">
                                <input type="text" class="form-control"  [(ngModel)]="addclient.Contact_Name" name="Contact_Name" value="" #Contact_Name  formControlName="Contact_Names" required>
                              <div class="form-control-feedback"
                                *ngIf="Contact_Names.errors && (Contact_Names.dirty || Contact_Names.touched)">
                                <p *ngIf="Contact_Names.errors.required">Contact Name is required</p>
                                <p *ngIf="Contact_Names.errors.minlength"> Data Invalid </p>
                              </div>
                              <div _ngcontent-c7="" class="form-icon">

                              </div><!----><!---->
                              
                              <div class="col-12 col-sm-5 form-group"
                              [ngClass]="{
                                'has-danger': Contact_Names.invalid && (Contact_Names.dirty || Contact_Names.touched),
                                'has-success': Contact_Names.valid && (Contact_Names.dirty || Contact_Names.touched)}"> 
                              </div>


                            </div>
                          </div>
                        </div>
                      </div>
                    </div>







                    <div _ngcontent-c7="" class="col-md-12">
                        <div _ngcontent-c7="" class="row">
                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                            <div _ngcontent-c7="" class="row">
                              <div _ngcontent-c7="" class="col-md-3">
                                <label _ngcontent-c7="">Contact Number</label>
                              </div><div _ngcontent-c7="" class="col-md-9">
                              
                                  <input type="text" class="form-control"  [(ngModel)]="addclient.Contact_Number" name="Contact_Number" value="" #Contact_Number  formControlName="Contact_Nos" required>
                                  <div class="form-control-feedback"
                                     *ngIf="Contact_Nos.errors && (Contact_Nos.dirty || Contact_Nos.touched)">
                                    <p *ngIf="Contact_Nos.errors.required">Contact Number is required</p>
                                    <p *ngIf="Contact_Nos.errors.minlength"> Data Invalid </p>
                                  </div>
                                
                                
                                <div _ngcontent-c7="" class="form-icon">
                                  
                                </div><!----><!---->
                               
                                <div class="col-12 col-sm-5 form-group"
                                [ngClass]="{
                                  'has-danger': Contact_Nos.invalid && (Contact_Nos.dirty || Contact_Nos.touched),
                                  'has-success': Contact_Nos.valid && (Contact_Nos.dirty || Contact_Nos.touched)
                            }">
                            
                              
                            </div>



                              </div>
                            </div>
                          </div>
                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                            <div _ngcontent-c7="" class="row">
                              <div _ngcontent-c7="" class="col-md-3">
                                <label _ngcontent-c7="">E-mail ID</label>
                              </div>
                              <div _ngcontent-c7="" class="col-md-9">
                                  <input type="text" class="form-control"  [(ngModel)]="addclient.E_mail_ID" name="E_mail_ID" value="" #E_mail_ID  formControlName="E_Mail_IDs" required>
                                <div class="form-control-feedback"
                                  *ngIf="E_Mail_IDs.errors && (E_Mail_IDs.dirty || E_Mail_IDs.touched)">
                                  <p *ngIf="E_Mail_IDs.errors.required">E-mail ID is required</p>
                                  <p *ngIf="E_Mail_IDs.errors.minlength"> Data Invalid </p>
                                </div>
                                <div _ngcontent-c7="" class="form-icon">
  
                                </div><!----><!---->
                                
                                <div class="col-12 col-sm-5 form-group"
                                  [ngClass]="{
                                    'has-danger': E_Mail_IDs.invalid && (E_Mail_IDs.dirty || E_Mail_IDs.touched),
                                    'has-success': E_Mail_IDs.valid && (E_Mail_IDs.dirty || E_Mail_IDs.touched)
                              }">
                                
                                
                              </div>
  
  
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>







                      <div _ngcontent-c7="" class="col-md-12">
                          <div _ngcontent-c7="" class="row">
                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                              <div _ngcontent-c7="" class="row">
                                <div _ngcontent-c7="" class="col-md-3">
                                  <label _ngcontent-c7="">Designations</label>
                                </div><div _ngcontent-c7="" class="col-md-9">
                                
                                    <input type="text" class="form-control"  [(ngModel)]="addclient.Designations" name="Designations" value="" #Designations  formControlName="Designationss" required>
                                    <div class="form-control-feedback"
                                       *ngIf="Designationss.errors && (Designationss.dirty || Designationss.touched)">
                                      <p *ngIf="Designationss.errors.required">Designations is required</p>
                                      <p *ngIf="Designationss.errors.minlength"> Data Invalid </p>
                                    </div>
                                  
                                  
                                  <div _ngcontent-c7="" class="form-icon">
                                    
                                  </div><!----><!---->
                                 
                                  <div class="col-12 col-sm-5 form-group"
                                  [ngClass]="{
                                    'has-danger': E_Mail_IDs.invalid && (E_Mail_IDs.dirty || E_Mail_IDs.touched),
                                    'has-success': E_Mail_IDs.valid && (E_Mail_IDs.dirty || E_Mail_IDs.touched) }">
                                
                                
                                     </div>


  
                                </div>
                              </div>
                            </div>
                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                              <div _ngcontent-c7="" class="row">
                                <div _ngcontent-c7="" class="col-md-3">
                                  <label _ngcontent-c7="">Deployment</label>
                                </div>
                                <div _ngcontent-c7="" class="col-md-9">
                                    <input type="text" class="form-control"  [(ngModel)]="addclient.Deployment" name="Deployment" value="" #Deployment  formControlName="Deployments" required>
                                    <div class="form-control-feedback"
                                       *ngIf="Deployments.errors && (Deployments.dirty || Deployments.touched)">
                                      <p *ngIf="Deployments.errors.required">Deployment is required</p>
                                      <p *ngIf="Deployments.errors.minlength"> Data Invalid </p>
                                    </div>
                                  <div _ngcontent-c7="" class="form-icon">
    
                                  </div><!----><!---->
                                  
                                  <div class="col-12 col-sm-5 form-group"
                                    [ngClass]="{
                                      'has-danger': Deployments.invalid && (Deployments.dirty || Deployments.touched),
                                      'has-success': Deployments.valid && (Deployments.dirty || Deployments.touched)
                                }">
                                  
                                  
                                </div>
    
    
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>









                        <div _ngcontent-c7="" class="col-md-12">
                            <div _ngcontent-c7="" class="row">
                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                <div _ngcontent-c7="" class="row">
                                  <div _ngcontent-c7="" class="col-md-3">
                                    <label _ngcontent-c7="">Hrs pattern</label>
                                  </div><div _ngcontent-c7="" class="col-md-9">
                                  
                                      <input type="text" class="form-control"  [(ngModel)]="addclient.Hrs_pattern" name="Hrs_pattern" value="" #Hrs_pattern  formControlName="Hrs_patterns" required>
                                      <div class="form-control-feedback"
                                        *ngIf="Hrs_patterns.errors && (Hrs_patterns.dirty || Hrs_patterns.touched)">
                                        <p *ngIf="Hrs_patterns.errors.required">Hrs patternis required</p>
                                        <p *ngIf="Hrs_patterns.errors.minlength"> Data Invalid </p>
                                      </div>
                                    
                                    
                                    <div _ngcontent-c7="" class="form-icon">
                                      
                                    </div><!----><!---->
                                   
                                    <div class="col-12 col-sm-5 form-group"
                                    [ngClass]="{
                                     'has-danger': Hrs_patterns.invalid && (Hrs_patterns.dirty || Hrs_patterns.touched),
                                     'has-success': Hrs_patterns.valid && (Hrs_patterns.dirty || Hrs_patterns.touched)
                                }">
                                 
                                 
                                </div>


    
                                  </div>
                                </div>
                              </div>
                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                <div _ngcontent-c7="" class="row">
                                  <div _ngcontent-c7="" class="col-md-3">
                                    <label _ngcontent-c7="">RATES</label>
                                  </div>
                                  <div _ngcontent-c7="" class="col-md-9">
                                      <input type="text" class="form-control"  [(ngModel)]="addclient.RATES" name="RATES" value="" #RATES  formControlName="RATESs" required>
                                      <div class="form-control-feedback"
                                        *ngIf="RATESs.errors && (RATESs.dirty || RATESs.touched)">
                                        <p *ngIf="RATESs.errors.required">RATES is required</p>
                                        <p *ngIf="RATESs.errors.minlength"> Data Invalid </p>
                                      </div>
                                    <div _ngcontent-c7="" class="form-icon">
      
                                    </div><!----><!---->
                                    
                                    <div class="col-12 col-sm-5 form-group"
                                      [ngClass]="{
                                        'has-danger': RATESs.invalid && (RATESs.dirty || RATESs.touched),
                                        'has-success': RATESs.valid && (RATESs.dirty || RATESs.touched)
                                  }">
                                    
                                    
                                  </div>
      
      
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>





                          <div _ngcontent-c7="" class="col-md-12">
                              <div _ngcontent-c7="" class="row">
                                <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                  <div _ngcontent-c7="" class="row">
                                    <div _ngcontent-c7="" class="col-md-3">
                                      <label _ngcontent-c7="">Value</label>
                                    </div><div _ngcontent-c7="" class="col-md-9">
                                    
                                        <input type="text" class="form-control"  [(ngModel)]="addclient.Value" name="Value" value="" #Value  formControlName="Values" required>
                                        <div class="form-control-feedback"
                                          *ngIf="Values.errors && (Values.dirty || Values.touched)">
                                          <p *ngIf="Values.errors.required">Value is required</p>
                                          <p *ngIf="Values.errors.minlength"> Data Invalid </p>
                                        </div>
                                      
                                      
                                      <div _ngcontent-c7="" class="form-icon">
                                        
                                      </div><!----><!---->
                                     
                                      <div class="col-12 col-sm-5 form-group"
                                      [ngClass]="{
                                       'has-danger': Hrs_patterns.invalid && (Hrs_patterns.dirty || Hrs_patterns.touched),
                                       'has-success': Hrs_patterns.valid && (Hrs_patterns.dirty || Hrs_patterns.touched)
                                  }">
                                   
                                   
                                  </div>
  
  
      
                                    </div>
                                  </div>
                                </div>
                                <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                  <div _ngcontent-c7="" class="row">
                                    <div _ngcontent-c7="" class="col-md-3">
                                      <label _ngcontent-c7="">RATES</label>
                                    </div>
                                    <div _ngcontent-c7="" class="col-md-9">
                                        <input type="text" class="form-control"  [(ngModel)]="addclient.RATES" name="RATES" value="" #RATES  formControlName="RATESs" required>
                                        <div class="form-control-feedback"
                                          *ngIf="RATESs.errors && (RATESs.dirty || RATESs.touched)">
                                          <p *ngIf="RATESs.errors.required">RATES is required</p>
                                          <p *ngIf="RATESs.errors.minlength"> Data Invalid </p>
                                        </div>
                                      <div _ngcontent-c7="" class="form-icon">
        
                                      </div><!----><!---->                                                                                  
                                    <div class="col-12 col-sm-5 form-group"
                                    [ngClass]="{
                                      'has-danger': Values.invalid && (Values.dirty || Values.touched),
                                      'has-success': Values.valid && (Values.dirty || Values.touched)
                                  }">
                                  </div>
        
        
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>









                            <div _ngcontent-c7="" class="col-md-12">
                                <div _ngcontent-c7="" class="row">
                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                    <div _ngcontent-c7="" class="row">
                                      <div _ngcontent-c7="" class="col-md-3">
                                        <label _ngcontent-c7="">Allowance</label>
                                      </div>
                                      <div _ngcontent-c7="" class="col-md-9">
                                      
                                          <input type="text" class="form-control"  [(ngModel)]="addclient.Allowance" name="Allowance" value="" #Allowance  formControlName="Allowances" required>
                                          <div class="form-control-feedback"
                                          *ngIf="Allowances.errors && (Allowances.dirty || Allowances.touched)">
                                          <p *ngIf="Allowances.errors.required">Allowance is required</p>
                                          <p *ngIf="Allowances.errors.minlength"> Data Invalid </p>
                                          </div>
                                        
                                        
                                        <div _ngcontent-c7="" class="form-icon">
                                          
                                        </div><!----><!---->
                                       
                                        <div class="col-12 col-sm-5 form-group"
                                        [ngClass]="{
                                        'has-danger': Allowances.invalid && (Allowances.dirty || Allowances.touched),
                                        'has-success': Allowances.valid && (Allowances.dirty || Allowances.touched)
                                        }">
                                        </div>          
                                      </div>
                                    </div>
                                  </div>
                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                    <div _ngcontent-c7="" class="row">
                                      <div _ngcontent-c7="" class="col-md-3">
                                        <label _ngcontent-c7="">Total Allowances</label>
                                      </div>
                                      <div _ngcontent-c7="" class="col-md-9">
                                          <input type="text" class="form-control"  [(ngModel)]="addclient.Total_Allowances" name="Total_Allowances" value="" #Total_Allowances  formControlName="Total_Allowances" required>
                                          <div class="form-control-feedback"
                                          *ngIf="Total_Allowances.errors && (Total_Allowances.dirty || Total_Allowances.touched)">
                                          <p *ngIf="Total_Allowances.errors.required">Total Allowances is required</p>
                                          <p *ngIf="Total_Allowances.errors.minlength"> Data Invalid </p>
                                          </div>
                                        <div _ngcontent-c7="" class="form-icon">
          
                                        </div><!----><!---->                                                                                  
                                     
                                        <div class="col-12 col-sm-5 form-group"
                                        [ngClass]="{
                                        'has-danger': Total_Allowances.invalid && (Total_Allowances.dirty || Total_Allowances.touched),
                                        'has-success': Total_Allowances.valid && (Total_Allowances.dirty || Total_Allowances.touched)
                                        }">
                                        </div>
          
          
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>


                          


                              <div _ngcontent-c7="" class="col-md-12">
                                  <div _ngcontent-c7="" class="row">
                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="col-md-3">
                                          <label _ngcontent-c7="">Wages</label>
                                        </div>
                                        <div _ngcontent-c7="" class="col-md-9">
                                        
                                            <input type="text" class="form-control"  [(ngModel)]="addclient.Wages" name="Wages" value="" #Wages  formControlName="Wagess" required>
                                            <div class="form-control-feedback"
                                            *ngIf="Wagess.errors && (Wagess.dirty || Wagess.touched)">
                                            <p *ngIf="Wagess.errors.required">Wages is required</p>
                                            <p *ngIf="Wagess.errors.minlength"> Data Invalid </p>
                                            </div>
                                          
                                          
                                          <div _ngcontent-c7="" class="form-icon">
                                            
                                          </div><!----><!---->
                                         
                                          <div class="col-12 col-sm-5 form-group"
                                          [ngClass]="{
                                          'has-danger': Wagess.invalid && (Wagess.dirty || Wagess.touched),
                                          'has-success': Wagess.valid && (Wagess.dirty || Wagess.touched)
                                          }">
                                          </div>


     
                                        </div>
                                      </div>
                                    </div>
                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="col-md-3">
                                          <label _ngcontent-c7="">Total Wages</label>
                                        </div>
                                        <div _ngcontent-c7="" class="col-md-9">
                                            <input type="text" class="form-control"  [(ngModel)]="addclient.Total_Wages" name="Total_Wages" value="" #Total_Wages  formControlName="Total_Wagess" required>
                                          <div class="form-control-feedback"
                                          *ngIf="Total_Wagess.errors && (Total_Wagess.dirty || Total_Wagess.touched)">
                                          <p *ngIf="Total_Wagess.errors.required">Total Wages is required</p>
                                          <p *ngIf="Total_Wagess.errors.minlength"> Data Invalid </p>
                                          </div>

                                          <div _ngcontent-c7="" class="form-icon">
            
                                          </div><!----><!---->                                                                                  
                                       
                                          <div class="col-12 col-sm-5 form-group"
                                          [ngClass]="{
                                           'has-danger': Total_Wagess.invalid && (Total_Wagess.dirty || Total_Wagess.touched),
                                           'has-success': Total_Wagess.valid && (Total_Wagess.dirty || Total_Wagess.touched)
                                          }">
                                          </div>
            
            
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>












                                <div _ngcontent-c7="" class="col-md-12">
                                    <div _ngcontent-c7="" class="row">
                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">Add Values</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                          
                                              <input type="text" class="form-control"  [(ngModel)]="addclient.Add_Values" name="Add_Values" value="" #Add_Values  formControlName="Add_Values" required>
                                              <div class="form-control-feedback"
                                              *ngIf="Add_Values.errors && (Add_Values.dirty || Add_Values.touched)">
                                              <p *ngIf="Add_Values.errors.required">Add Values is required</p>
                                              <p *ngIf="Add_Values.errors.minlength"> Data Invalid </p>
                                              </div>
                                            
                                            
                                            <div _ngcontent-c7="" class="form-icon">
                                              
                                            </div><!----><!---->
                                           
                                            <div class="col-12 col-sm-5 form-group"
                                            [ngClass]="{
                                             'has-danger': Add_Values.invalid && (Add_Values.dirty || Add_Values.touched),
                                             'has-success': Add_Values.valid && (Add_Values.dirty || Add_Values.touched)
                                            }">                                                                                          
                                            </div>


       
                                          </div>
                                        </div>
                                      </div>
                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">MARGIN</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                              <input type="text" class="form-control"  [(ngModel)]="addclient.MARGIN" name="MARGIN" value="" #MARGIN  formControlName="MARGINs" required>
                                              <div class="form-control-feedback"
                                              *ngIf="MARGINs.errors && (MARGINs.dirty || MARGINs.touched)">
                                              <p *ngIf="MARGINs.errors.required">MARGIN is required</p>
                                              <p *ngIf="MARGINs.errors.minlength"> Data Invalid </p>
                                              </div>

                                            <div _ngcontent-c7="" class="form-icon">
              
                                            </div><!----><!---->                                                                                  
                                         
                                            <div class="col-12 col-sm-5 form-group"
                                            [ngClass]="{
                                            'has-danger': MARGINs.invalid && (MARGINs.dirty || MARGINs.touched),
                                            'has-success': MARGINs.valid && (MARGINs.dirty || MARGINs.touched)
                                            }">
                                            </div>
              
              
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>







                                  <div _ngcontent-c7="" class="col-md-12">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">Contract Start Dates</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                            
                                                <input type="text" class="form-control"  [(ngModel)]="addclient.Contract_Start_Dates" name="Contract_Start_Dates" value="" #Contract_Start_Dates  formControlName="Contract_Start_Dates" required>
                                                <div class="form-control-feedback"
                                                *ngIf="Contract_Start_Dates.errors && (Contract_Start_Dates.dirty || Contract_Start_Dates.touched)">
                                                <p *ngIf="Contract_Start_Dates.errors.required">Contract Start Dates is required</p>
                                                <p *ngIf="Contract_Start_Dates.errors.minlength"> Data Invalid </p>
                                                </div>
                                              
                                              
                                              <div _ngcontent-c7="" class="form-icon">
                                                
                                              </div><!----><!---->
                                             
                                              <div class="col-12 col-sm-5 form-group"
                                                [ngClass]="{
                                                'has-danger': Contract_Start_Dates.invalid && (Contract_Start_Dates.dirty || Contract_Start_Dates.touched),
                                                'has-success': Contract_Start_Dates.valid && (Contract_Start_Dates.dirty || Contract_Start_Dates.touched)
                                                }">


                                                </div>


         
                                            </div>
                                          </div>
                                        </div>
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">Roc date Froms</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                                <input type="text" class="form-control"  [(ngModel)]="addclient.Roc_date_Froms" name="Roc_date_Froms" value="" #Roc_date_Froms  formControlName="Roc_date_Froms" required>
                                              <div class="form-control-feedback"
                                              *ngIf="Roc_date_Froms.errors && (Roc_date_Froms.dirty || Roc_date_Froms.touched)">
                                              <p *ngIf="Roc_date_Froms.errors.required">Roc date Froms is required</p>
                                              <p *ngIf="Roc_date_Froms.errors.minlength"> Data Invalid </p>
                                              </div>

                                              <div _ngcontent-c7="" class="form-icon">
                
                                              </div><!----><!---->                                                                                  
                                           
                                              <div class="col-12 col-sm-5 form-group"
                                              [ngClass]="{
                                              'has-danger': Roc_date_Froms.invalid && (Roc_date_Froms.dirty || Roc_date_Froms.touched),
                                              'has-success': Roc_date_Froms.valid && (Roc_date_Froms.dirty || Roc_date_Froms.touched)
                                              }">
                                              </div>
                
                
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>











                                    <div _ngcontent-c7="" class="col-md-12">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="col-md-3">
                                                <label _ngcontent-c7="">ROC tos</label>
                                              </div>
                                              <div _ngcontent-c7="" class="col-md-9">
                                              
                                                  <input type="text" class="form-control"  [(ngModel)]="addclient.ROC_to" name="ROC_to" value="" #ROC_to  formControlName="ROC_tos" required>
                                                  <div class="form-control-feedback"
                                                  *ngIf="ROC_tos.errors && (ROC_tos.dirty || ROC_tos.touched)">
                                                  <p *ngIf="ROC_tos.errors.required">ROC tos is required</p>
                                                  <p *ngIf="ROC_tos.errors.minlength"> Data Invalid </p>
                                                  </div>
                                                
                                                
                                                <div _ngcontent-c7="" class="form-icon">
                                                  
                                                </div><!----><!---->
                                               
                                                <div class="col-12 col-sm-5 form-group"
                                                  [ngClass]="{
                                                  'has-danger': ROC_tos.invalid && (ROC_tos.dirty || ROC_tos.touched),
                                                  'has-success': ROC_tos.valid && (ROC_tos.dirty || ROC_tos.touched)
                                                  }">


                                                  </div>
  
  
           
                                              </div>
                                            </div>
                                          </div>
                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="col-md-3">
                                                <label _ngcontent-c7="">Accts Infos</label>
                                              </div>
                                              <div _ngcontent-c7="" class="col-md-9">
                                                  <input type="text" class="form-control"  [(ngModel)]="addclient.Accts_Info" name="Accts_Info" value="" #Accts_Info  formControlName="Accts_Infos" required>
                                                  <div class="form-control-feedback"
                                                  *ngIf="Accts_Infos.errors && (Accts_Infos.dirty || Accts_Infos.touched)">
                                                  <p *ngIf="Accts_Infos.errors.required">Accts Infos is required</p>
                                                  <p *ngIf="Accts_Infos.errors.minlength"> Data Invalid </p>
                                                  </div>
  
                                                <div _ngcontent-c7="" class="form-icon">
                  
                                                </div><!----><!---->                                                                                  
                                             
                                                <div class="col-12 col-sm-5 form-group"
                                                [ngClass]="{
                                                 'has-danger': Accts_Infos.invalid && (Accts_Infos.dirty || Accts_Infos.touched),
                                                 'has-success': Accts_Infos.valid && (Accts_Infos.dirty || Accts_Infos.touched)
                                                }">
                                                
                                                
                                                </div>
                  
                  
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>






                                      <div _ngcontent-c7="" class="col-md-12">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                              <div _ngcontent-c7="" class="row">
                                                <div _ngcontent-c7="" class="col-md-3">
                                                  <label _ngcontent-c7="">Invoice cycles</label>
                                                </div>
                                                <div _ngcontent-c7="" class="col-md-9">
                                                
                                                    <input type="text" class="form-control"  [(ngModel)]="addclient.Invoice_cycle" name="Invoice_cycle" value="" #Invoice_cycle  formControlName="Invoice_cycles" required>
                                                    <div class="form-control-feedback"
                                                    *ngIf="Invoice_cycles.errors && (Invoice_cycles.dirty || Invoice_cycles.touched)">
                                                    <p *ngIf="Invoice_cycles.errors.required">Invoice cycles is required</p>
                                                    <p *ngIf="Invoice_cycles.errors.minlength"> Data Invalid </p>
                                                    </div>
                                                  
                                                  
                                                  <div _ngcontent-c7="" class="form-icon">
                                                    
                                                  </div><!----><!---->
                                                 
                                                  <div class="col-12 col-sm-5 form-group"
                                                  [ngClass]="{
                                                  'has-danger': Invoice_cycles.invalid && (Invoice_cycles.dirty || Invoice_cycles.touched),
                                                  'has-success': Invoice_cycles.valid && (Invoice_cycles.dirty || Invoice_cycles.touched)
                                                  }">
                                                  </div>
    
    
             
                                                </div>
                                              </div>
                                            </div>
                                            <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                              <div _ngcontent-c7="" class="row">
                                                <div _ngcontent-c7="" class="col-md-3">
                                                  <label _ngcontent-c7="">Credit Period</label>
                                                </div>
                                                <div _ngcontent-c7="" class="col-md-9">
                                                    <input type="text" class="form-control"  [(ngModel)]="addclient.Credit_Period" name="Credit_Period" value="" #Credit_Period  formControlName="Credit_Periods" required>
                                                    <div class="form-control-feedback"
                                                    *ngIf="Credit_Periods.errors && (Credit_Periods.dirty || Credit_Periods.touched)">
                                                    <p *ngIf="Credit_Periods.errors.required">Credit Periods is required</p>
                                                    <p *ngIf="Credit_Periods.errors.minlength"> Data Invalid </p>
                                                    </div>
    
                                                  <div _ngcontent-c7="" class="form-icon">
                    
                                                  </div><!----><!---->                                                                                  
                                               
                                                  <div class="col-12 col-sm-5 form-group"
                                                  [ngClass]="{
                                                  'has-danger': Credit_Periods.invalid && (Credit_Periods.dirty || Credit_Periods.touched),
                                                  'has-success': Credit_Periods.valid && (Credit_Periods.dirty || Credit_Periods.touched)
                                                  }"></div>
                    
                    
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>




                                        <div _ngcontent-c7="" class="col-md-12">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                    <label _ngcontent-c7="">Aging Analysis</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                  
                                                      <input type="text" class="form-control"  [(ngModel)]="addclient.Aging_Analysis" name="Aging_Analysis" value="" #Aging_Analysis  formControlName="Aging_Analysiss" required>
                                                        <div class="form-control-feedback"
                                                        *ngIf="Aging_Analysiss.errors && (Aging_Analysiss.dirty || Aging_Analysiss.touched)">
                                                        <p *ngIf="Aging_Analysiss.errors.required">Aging Analysiss is required</p>
                                                        <p *ngIf="Aging_Analysiss.errors.minlength"> Data Invalid </p>
                                                        </div>
                                                    
                                                    
                                                    <div _ngcontent-c7="" class="form-icon">
                                                      
                                                    </div><!----><!---->
                                                   
                                                    <div class="col-12 col-sm-5 form-group"
                                                      [ngClass]="{
                                                      'has-danger': Aging_Analysiss.invalid && (Aging_Analysiss.dirty || Aging_Analysiss.touched),
                                                      'has-success': Aging_Analysiss.valid && (Aging_Analysiss.dirty || Aging_Analysiss.touched)
                                                      }">
                                                      </div>
      
      
               
                                                  </div>
                                                </div>
                                              </div>
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                      <label>Attach Contract Document</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                      
                                                      <div class="card h-100">
      
                                                          <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="custom-file-input">
                                                            <label class="custom-file-label px-3" for="custom-file-input">Choose file</label>
                                                          </div>
                                                       
                                                      </div>
                                                    <div _ngcontent-c7="" class="form-icon">
                      
                                                    </div><!----><!---->                                                                                  
                                                 
                                                   
                      
                      
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                                  
                              <div class="col-md-12 form-group">
                                      <div class="form-group service-form-group col-md-12">
                              <button class="input1" (click) = "addapi()">Next</button>
                              </div>
                              </div><br>
                           
                  </form>
              </div>
              </div>
            </div>
          </div>
    </div>
  </form>
  