<!-- BEGIN # BOOTSNIP INFO -->
<div class="container">
    <div class="row">
        <div _ngcontent-c4="" class="header">
          <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-12 col-md-6 mb-3">
              <div _ngcontent-c4="" class="col-md-8">
                <h3 _ngcontent-c4="" class="adsc">
                  <i _ngcontent-c4="" class="fa fa-university"></i> &nbsp;compliant Management</h3>
                </div>
              </div>
              <div _ngcontent-c4="" class="col-md-6">
                  <p class="text-center"><a href="#" class="btn add btn-lg pull-right" role="button" data-toggle="modal" data-target="#login-modal">Add Compliant</a></p>
              </div>
            </div>
           
          </div>

          <div class="col">
      
              <div class="col-md-12">
                <div class="row">
                  <div class="tabl" >
                      <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                          <thead>
                              <tr>
                                  <th>SL.NO</th>
                                  <th>Client Id</th>
                                  <th>Company Name</th>
                                  <th>CLient Name</th>
                                  <th>Contact Person</th>
                                  <th>Contact Number</th>
                                  <th>Contract Start</th>
                                  <th>Contract End</th>
                                  <th>Status</th>
                                  <th>View</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                              </tr>
                          </thead>
                          <tbody>
                                      <ng-container  *ngFor="let data of datas.data ;  let i = index">
                                          
                                      <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                          <td>{{i + 1}}</td> 
                                          <td>{{data.cliid}}</td>
                                          <td id="l1">{{data.Client_Name}}</td>
                                          <td id="a1">{{data.Client_Name}}</td>
                                          <td id="pc1">{{data.Contact_Name}}</td>
                                          <td id="pc1">{{data.Contact_Number}}</td>
                                          <td id="pc1">{{data.Contract_Start_Dates}}</td>
                                          <td id="pc1">{{data.ROC_to}}</td>
                                          <td id="pc1">{{data.Value}}</td>
                                          <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse"  data-toggle="modal" data-target="#login-modal2"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                          <td><button type="button" data-toggle="modal"  data-uid="1" class=" btn btn-primary btn-sm"  (click)="edit($event, data)"><i _ngcontent-c6="" class="m-1 icon-note"></i></button></td> 
                                          <td><button type="button" data-toggle="modal" data-target="#delete" data-uid="1" class=" btn  btn-sm"  (click)="open($event, data)" ><i _ngcontent-c6="" class="m-1 icon-close"  ></i></button></td>
                                      </tr>
                                      
                                      </ng-container>      
                          </tbody>
                      </table>
                      <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                      <div class="card-footer p-0">
                      <ngb-pagination    [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                      </div>     
                </div>
                </div>
              </div>
              </div>
          
         
    </div>
  </div>
  <!-- END # BOOTSNIP INFO -->
  
  <!-- BEGIN # MODAL LOGIN -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="modal-content">
         
                  
                  <!-- Begin # DIV Form -->
                  <div id="div-forms">
                  
                      <!-- Begin # Login Form -->
                      <form id="login-form">
                      <div class="modal-body">
                
                          <div class="login-form">
                              <div class="main-div">
                                  <div class="panel">
                               <h3>Add Compliant</h3>
                                
                                 </div>
                                  <form id="Login">
                              

                                      <div class="form-group">
                              
                                      <label>Username</label>
                                          <input type="text" class="form-control" id="name" placeholder="Ender c">
                              
                                      </div>

                                      <div class="form-group">
                              
                                          <label>Username</label>
                                          <input type="text" class="form-control" id="name" placeholder="Ender Title">
                              
                                      </div>


                                      

                                      <div class="form-group">
                              
                                          <label>Username</label>
                                          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                              
                                      </div>
                              
                                      <div class="form-group">
                                          <label>Username</label>
                                          <textarea type="text" class="form-control"  placeholder="Ender discription"></textarea>
                              
                                      </div>
                                      
                                    
                              
                                  </form>

                                  <div>
                                      <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
                                    </div>
                                    <input type="file" multiple (change)="detectFiles($event)">
                                  </div>
                                  <button class="btn btn-primary"style="color:#fff; background:#13477e!important;">Submit</button>
                              </div>
                    </div>
                  
                      </form>
                      <!-- End # Login Form -->
                      
                      <!-- Begin | Lost Password Form -->
                    
                      
                      
                  </div>
                  <!-- End # DIV Form -->
                  
        </div>
      </div>
    </div>
      <!-- END # MODAL LOGIN -->



      <!-- BEGIN # MODAL LOGIN -->
  <div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog" style="max-width: 700px;margin-right: 17%;">
      <div class="modal-content">
       
                
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                
                    <!-- Begin # Login Form -->
                    <form id="login-form">
                    <div class="modal-body">
              
                        <div class="login-form">
                            <div class="main-div">
                                <div class="panel">
                                    <h3>View Compliant</h3>
                              
                               </div>
                                <form id="Login">
                            

                                    <div class="form-group">
                            
                                    <label>Username</label>
                                        <input type="text" class="form-control" id="name" placeholder="Ender c" disabled>
                            
                                    </div>

                                    <div class="form-group">
                            
                                        <label>Username</label>
                                        <input type="text" class="form-control" id="name" placeholder="Ender Title"disabled>
                            
                                    </div>


                                    

                                    <div class="form-group">
                            
                                        <label>Username</label>
                                        <input type="email" class="form-control" id="inputEmail"  placeholder="Email Address" disabled>
                            
                                    </div>
                            
                                    <div class="form-group">
                                        <label>Username</label>
                                        <textarea type="text" class="form-control"  placeholder="Ender discription" disabled></textarea>
                            
                                    </div>
                                    
                                    
                            
                                </form>

                                <div class="card mb-3">
                                    <div class="card-body">
                                      <h5 class="card-title"></h5>
                                      <ngx-gallery [options]="onlyThumbnailsGalleryOptions" [images]="galleryImages"></ngx-gallery>
                                    </div>
                                  </div>
                                </div>
                           
                            </div>
                  </div>
                
                    </form>
                    <!-- End # Login Form -->
                    
                    <!-- Begin | Lost Password Form -->
                  
                    
                    
                </div>
                <!-- End # DIV Form -->
                
      </div>
    </div>
  </div>
    <!-- END # MODAL LOGIN -->




    <style>
    ul.pagination {
    display: flex;
    list-style: none;
    border-radius: .125rem;
    padding: 10px;
    margin: 0 10px 10px 40%!important;
    width: 100%;
}
    </style>