<div class="container">
   
    <div class="row">
        <div class="col-12 col-sm-6">
        <label for="country">Select Employee</label>
        <select id="country" name="country">
         <option value="australia">select</option>
          <option value="australia">EMP01,murugan</option>
          <option value="canada">EMP02,imthiyas</option>
          <option value="usa">EMP03,parthibam</option>
        </select>
       </div>
        <div class="col-12 col-sm-6">
        <label for="country">Select Client</label>
      <select id="country" name="country">
        <option value="australia">select</option>
        <option value="australia">CLI01,M&CO</option>
        <option value="canada">CLI02,T&CO</option>
        <option value="usa">CLI4,G&co</option>
      </select>
      </div>
     </div>


    


     <div class="row">
        <div class="col-12 col-sm-6">
            <p>Select Start Date</p>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker
                       #d="ngbDatepicker">
    
                <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d.toggle()">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
        </div>

        <div class="col-12 col-sm-6">
          <p>Select Start Date</p>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker
                       #d2="ngbDatepicker">
    
                <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d2.toggle()">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
        </div>
        <br>

     
      
  
    
  
      <input type="submit" value="Submit">
    
  </div>