


<div class="row">
        <div class="col-12">
        <div class="Emp" style="background: #ffffff; margin-left: -17px;
        margin-right: -17px; width: 100% ; border: 1px solid #aaa;
            border-radius: 4px;
            padding: .5em .5em 0;">
            <label>Client Details</label>
                <table style="width:100%">
                        <tr>
                         <th>Clinet ID</th>
                                <td>:{{model.cliid}}</td>
                              </tr>
                         <tr>
                          <th>No of Sites</th>
                          <td>:{{model.No_of_Sites}}</td>
                        </tr>
                        
                            <tr>
                          <th>Client Name</th>
                          <td>: {{model.Client_Name}}</td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td>: {{model.Address}}</td>
                        </tr>    
                         <tr>
                          <th>Contact Name</th>
                          <td>: {{model.Contact_Name}}</td>
                        </tr>
                        <tr>
                          <th>Contact No</th>
                          <td>: {{model.Contact_Number}}</td>
                        </tr>
                         <tr>
                          <th>E Mail ID</th>
                          <td>: {{model.E_mail_ID}}</td>
                        </tr>
                        <tr>
                          <th>Designations</th>
                          <td>: {{model.Designations}}</td>
                        </tr>
                         <tr>
                          <th>Deployment</th>
                          <td>: {{model.Deployment}}</td>
                        </tr>
                        <tr>
                          <th>Hrs pattern</th>
                          <td>: {{model.Hrs_pattern}}</td>
                        </tr>
                         <tr>
                          <th>RATES</th>
                          <td>: {{model.RATES}}</td>
                        </tr>
                        <tr>
                          <th>Value</th>
                          <td>: {{model.Value}}</td>
                        </tr>
                         <tr>
                          <th>Allowance</th>
                          <td>: {{model.Allowance}}</td>
                        </tr>
                        <tr>
                          <th>Total Allowance</th>
                          <td>: {{model.Total_Allowances}}</td>
                        </tr>
                        
                      
                         <tr>
                          <th>Wages</th>
                          <td>: {{model.Wages}}</td>
                        </tr>
                        <tr>
                          <th>Total Wages</th>
                          <td>: {{model.Total_Wages}}</td>
                        </tr>
                        <tr>
                          <th>Add Value</th>
                          <td>: {{model.Add_Values}}</td>
                        </tr>
                        <tr>
                          <th>MARGIN</th>
                          <td>: {{model.MARGIN}}</td>
                        </tr>
                        <tr>
                          <th>Contract Start Date</th>
                          <td>: {{model.Contract_Start_Dates}}</td>
                        </tr>  
                        
                           <tr>
                          <th>Roc date From</th>
                          <td>: {{model.Roc_date_Froms}}</td>
                        </tr>                
                           <tr>
                          <th>ROC to</th>
                          <td>: {{model.ROC_to}}</td>
                        </tr>                
                           <tr>
                          <th>Accts Info</th>
                          <td>: {{model.Accts_Info}}</td>
                        </tr>                
                           <tr>
                          <th>Invoice cycle</th>
                          <td>: {{model.Invoice_cycle}}</td>
                        </tr>                
                           <tr>
                          <th>Credit Period</th>
                          <td>: {{model.Credit_Period}}</td>
                        </tr>  
                        <tr>
                          <th>Credit Period</th>
                          <td>: {{model.Credit_Period}}</td>
                        </tr>  
                        <tr>
                          <th>Created date</th>
                          <td>: {{model.Created_date}}</td>
                        </tr>  
                        <tr>
                          <th>Last Updated date</th>
                          <td>: {{model.Updated_date}}</td>
                        </tr>     
                        <tr>
                          <th>Last Updated by</th>
                          <td>: {{model.Updated_by}}</td>
                        </tr>            
                           <tr>
                          <th>No of Supervisor</th>
                          <td>: {{model1.No_am}}</td>
                        </tr>                
                           <tr>
                          <th>No of Assistant Manager</th>
                          <td>: {{model1.No_as}}</td>
                        </tr>                
                           <tr>
                          <th>No of Security</th>
                          <td>: {{model1.No_s}}</td>
                        </tr>                
                           <tr>
                          <th>Start Date</th>
                          <td>: {{model.Contract_Start_Dates}}</td>
                        </tr>                
                           <tr>
                          <th>End date</th>
                          <td>: {{model.ROC_to}}</td>
                        </tr>  
                         
                        <tr>
                          <th>Amount for One AM</th>
                          <td>: {{model1.salary_am}}</td>
                        </tr>  
                        <tr>
                          <th>Pay for one supervisor</th>
                          <td>: {{model1.salary_as}}</td>
                        </tr>  
                        <tr>
                          <th>Pay for one Security</th>
                          <td>: {{model1.salary_s}}</td>
                        </tr>  
                        <tr>
                          <th>Over Time pay for AM</th>
                          <td>: {{model1.over_time_am}}</td>
                        </tr>  
                        <tr>
                          <th>Over Time pay for SO</th>
                          <td>: {{model1.over_time_as}}</td>
                        </tr>  
                        <tr>
                          <th>Over Time pay for Security</th>
                          <td>: {{model1.over_time_s}}</td>
                        </tr>  
                        <tr>
                          <th>Shift Type</th>
                          <td>: {{model1.shift_type}}</td>
                        </tr>  
                        <tr>
                          <th>Total Pay of Assistant Manager</th>
                          <td>: {{model1.am_tot}}</td>
                        </tr> 

                        <tr>
                          <th>Total Pay of supervisor</th>
                          <td>: {{model1.as_tot}}</td>
                        </tr> 

                        <tr>
                          <th>Total Pay of Security</th>
                          <td>: {{model1.s_tot}}</td>
                        </tr> 

                        <tr>
                          <th>Total Pay</th>
                          <td>: {{model1.total_amount}}</td>
                        </tr> 

                        <tr>
                          <th>Pending Due</th>
                          <td>: {{model1.total_amount}}</td>
                        </tr>                     
                </table> 
                      
                      
        
        </div>


      </div>