<div id="payslip">
    <div id="title">Invoice Billing</div>
    <div id="scope">
      <div class="scope-entry">
        <div class="title">From</div>
        <div class="value">BSS Security Service</div>
        <div class="rate">No.22 Madurai road, chennai city,Tamil Nadu</div>
      </div>
      <div class="scope-entry">
        <div class="title">To</div>
        <div class="value">Usha Fan Company</div>
        <div class="rate">No.45 Gandhi road, Vadapalani, chennai city,Tamil Nadu</div>
      </div>
      <div class="scope-entry">
          <div class="title">Date</div>
          <div class="value">23/10/2018</div>
        </div>
    </div>
    <div class="content">
      <div class="left-panel">
        <div id="employee">
          <div id="name">
            Usha Fan Company
          </div>
          <div id="email">
           Usha@gmail.com
          </div>
        </div>
        <div class="details">
          <div class="entry">
            <div class="label">Billing Type</div>
            <div class="value">Payable</div>
          </div>
          <div class="entry">
            <div class="label">Create by</div>
            <div class="value">(User234)</div>
          </div>
          <div class="entry">
            <div class="label">Refer. No</div>
            <div class="value">AS13243QW</div>
          </div>
          <div class="entry">
              <div class="label">Customer Name</div>
              <div class="value">Mohammed imthiyas</div>
            </div>
          <div class="entry">
            <div class="label">Contact_No</div>
            <div class="value">98765436787</div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="details"> 
          <div class="salary">
            <div class="entry">
              <div class="label">Billing details</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Titel</div>
              <div class="rate">Usha Fan</div>
              <div class="amount">4752</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Payment Type</div>
              <div class="rate">Cash</div>
              <div class="amount"></div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Payment Type</div>
              <div class="rate">Full Cash</div>
              <div class="amount">-</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Total Amount</div>
              <div class="rate">-</div>
              <div class="amount">6000</div>
            </div>
            <div class="entry">
                <div class="label"></div>
                <div class="detail">Paid</div>
                <div class="rate">-</div>
                <div class="amount">6000</div>
              </div>
              <div class="entry">
                  <div class="label"></div>
                  <div class="detail">Status</div>
                  <div class="rate">Paid</div>
                  <div class="amount">-</div>
                </div>

                <div class="entry">
                    <div class="label"></div>
                    <div class="detail">GST%</div>
                    <div class="rate">12%</div>
                    <div class="amount">675</div>
                  </div>

                  <div class="entry">
                      <div class="label"></div>
                      <div class="detail">Prof. Tax</div>
                      <div class="rate">10%</div>
                      <div class="amount">600</div>
                    </div>

                    <div class="entry">
                        <div class="label"></div>
                        <div class="detail">Service Tax</div>
                        <div class="rate">-</div>
                        <div class="amount">-</div>
                      </div>

          </div>
          <div class="leaves">
            <div class="entry">
              <div class="label">Due Payments</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry paid">
              <div class="label"></div>
              <div class="detail">No Due</div>
              <div class="rate"></div>
              <div class="amount">-</div>
            </div>
            
          </div>
          <div class="taxable_allowance">
            <div class="entry">
              <div class="label"></div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
          
          </div>
          <div class="taxable_bonus">
            <div class="entry">
              <div class="label"></div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
           
          </div>
       <br>  
          <div class="net_pay">
            <div class="entry">
              <div class="label">NET PAY</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount">6000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="col-12 col-sm-5 form-group">
        <button class="input1" (click) = "addapi()">Send to Approval</button>
        </div>
  </div>