
<!-- BEGIN # BOOTSNIP INFO -->
<div class="container">
  <div class="row">
      <div _ngcontent-c4="" class="header">
        <div _ngcontent-c4="" class="row">
          <div _ngcontent-c4="" class="col-12 col-md-6 mb-3">
            <div _ngcontent-c4="" class="col-md-8">
              <h3 _ngcontent-c4="" class="adsc">
                <i _ngcontent-c4="" class="fa fa-university"></i> &nbsp;Completed Complaints</h3>
              </div>
            </div>
            <div _ngcontent-c4="" class="col-md-6">
               
            </div>
          </div>
         
        </div>
        <div class="col-md-12 pull-left">

            <div class="notifications1">
                      
                <span class="num">100</span>
               
            </div>
          <button class="input1" (click) = "addapi4()" >All</button>
          <div class="notifications2">
              
                <span class="num">67</span>
               
            </div>
          <button class="input1" (click) = "addapi1()">Open</button>
           
          <div class="notifications3">
              
                <span class="num">6</span>
               
            </div>
          <button class="input1" (click) = "addapi2()" >Inprogress</button>
              
          <div class="notifications4">
              
                <span class="num">89</span>
               
            </div>
          <button class="input1" (click) = "addapi3()" >Closed</button>
                         
                 </div>
                 <br>
                 <br>
         <br>

        <div class="col">
    
            <div class="col-md-12">
              <div class="row">
                <div class="tabl" >
                    <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                                <th>Complaint ID</th>
                                <th>Complaint From</th>
                                <th>Poster ID</th>
                                <th>Complaint Type</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Posted On</th>
                                <th>Status</th>
                                <th>Taken by</th>
                                <th>View</th>

                            </tr>
                        </thead>
                        <tbody>
                                <ng-container  *ngFor="let data of datas ;  let i = index">

                                        <tr>
                                        <td>{{i+1}}</td>  
                                        <td>{{data.complaint_id}}</td>
                                        <td>{{data.complaint_from}}</td>
                                        <td id="l1">{{data.poster_id}}</td>
                                        <td id="a1">{{data.complaint_type}}</td>
                                        <td id="pc1">{{data.title}}</td>
                                        <td id="pc1">{{data.description}}</td>
                                        <td id="pc1">{{data.posted_on}}</td>
                                        <td id="pc1">{{data.status}}</td>
                                        <td id="pc1">{{data.taken_by}}</td>
                                        <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse" (click)="view(event, data)"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                    </tr>
                                    </ng-container>      
                        </tbody>
                    </table>
                    <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                    <div class="card-footer p-0">
                    <ngb-pagination   [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                    </div>     
              </div>
              </div>
            </div>
            </div>
        
       
  </div>
</div>
<!-- END # BOOTSNIP INFO -->


    <!-- END # MODAL LOGIN -->



    <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="max-width: 700px;margin-right: 17%;">
    <div class="modal-content">
     
              
              <!-- Begin # DIV Form -->
              <div id="div-forms">
              
                  <!-- Begin # Login Form -->
                  <form id="login-form">
                  <div class="modal-body">
            
                      <div class="login-form">
                          <div class="main-div">
                              <div class="panel">
                                  <h3>View Compliant</h3>
                            
                             </div>
                              <form id="Login">
                          

                                  <div class="form-group">
                          
                                  <label>Username</label>
                                      <input type="text" class="form-control" id="name" placeholder="Ender c" disabled>
                          
                                  </div>

                                  <div class="form-group">
                          
                                      <label>Username</label>
                                      <input type="text" class="form-control" id="name" placeholder="Ender Title"disabled>
                          
                                  </div>


                                  

                                  <div class="form-group">
                          
                                      <label>Username</label>
                                      <input type="email" class="form-control" id="inputEmail"  placeholder="Email Address" disabled>
                          
                                  </div>
                          
                                  <div class="form-group">
                                      <label>Username</label>
                                      <textarea type="text" class="form-control"  placeholder="Ender discription" disabled></textarea>
                          
                                  </div>
                                  
                                  
                          
                              </form>

                              <div class="card mb-3">
                                  <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <ngx-gallery [options]="onlyThumbnailsGalleryOptions" [images]="galleryImages"></ngx-gallery>
                                  </div>
                                </div>
                              </div>
                         
                          </div>
                </div>
              
                  </form>
                  <!-- End # Login Form -->
                  
                  <!-- Begin | Lost Password Form -->
                
                  
                  
              </div>
              <!-- End # DIV Form -->
              
    </div>
  </div>
</div>
  <!-- END # MODAL LOGIN -->


        <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="max-width: 700px;margin-right: 17%;">
  <div class="modal-content">
   
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                                <h3>Move Compliant</h3>
                          
                           </div>
                            <form id="Login">
                        

                                <div class="form-group">
                        
                                <label>Complaint Id</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ender c" >
                        
                                </div>

                                <div class="form-group">
                        
                                    <label>Title</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ender Title">
                        
                                </div>


                                

                               
                                <div class="form-group">
                                  <label>Description</label>
                                  <textarea type="text" class="form-control"  placeholder="Ender discription" disabled></textarea>
                      
                              </div>
                              
                        
                                <div class="form-group">
                                    <label>Move To</label>
                                    <select class="form-control" id="exampleFormControlSelect1" >
                                      <option>Operation Level 1</option>
                                      <option>Operation Level 2</option>
                                      <option>Operation Level 3</option>
                                      <option>Operation Level 4</option>
                                    </select>                            
                                </div>

                             
                                
                                
                        
                            </form>

                            <div class="card mb-3">
                                <div class="card-body">
                                  <h5 class="card-title"></h5>
                                  <ngx-gallery [options]="onlyThumbnailsGalleryOptions" [images]="galleryImages"></ngx-gallery>
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-primary"style="color:#fff; background:#13477e!important;">Submit</button>
                        </div>
              </div>
            
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
              
                
                
            </div>
            <!-- End # DIV Form -->
            
  </div>
</div>
</div>
<!-- END # MODAL LOGIN -->




