<div id="payslip">
    <div id="title">Pay slip</div>
    <div id="scope">
      <div class="scope-entry">
        <div class="title">From</div>
        <div class="value">BSS Security Service</div>
        <div class="rate">No.22 Madurai road, chennai city,Tamil Nadu</div>
      </div>
      <div class="scope-entry">
        <div class="title">To</div>
        <div class="value">EMP 12356</div>
        <div class="rate">No.45 Gandhi road, Vadapalani, chennai city,Tamil Nadu</div>
      </div>
      <div class="scope-entry">
          <div class="title">Date</div>
          <div class="value">23/10/2018</div>
        </div>
    </div>
    <div class="content">
      <div class="left-panel">
        <div id="employee">
          <div id="name">
            Murugan
          </div>
          <div id="email">
         murugan@gmail.com
          </div>
        </div>
        <div class="details">
          <div class="entry">
            <div class="label">Salary Date</div>
            <div class="value">Payable</div>
          </div>
          <div class="entry">
            <div class="label">Create by</div>
            <div class="value">(User234)</div>
          </div>
          <div class="entry">
            <div class="label">Refer. No</div>
            <div class="value">AS13243QW</div>
          </div>
          <div class="entry">
              <div class="label">Employee Name</div>
              <div class="value">Murugna</div>
            </div>
          <div class="entry">
            <div class="label">Contact_No</div>
            <div class="value">98765436787</div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="details"> 
          <div class="salary">
            <div class="entry">
              <div class="label">salary details</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Titel Park 1</div>
              <div class="rate">10*500</div>
              <div class="amount">5000</div>
            </div>
            <div class="entry">
                <div class="label"></div>
                <div class="detail">Titel Park 2</div>
                <div class="rate">10*250</div>
                <div class="amount">2500</div>
              </div>
              <div class="entry">
                <div class="label"></div>
                <div class="detail">Titel Park 3</div>
                <div class="rate">10*250</div>
                <div class="amount">2500</div>
              </div>
              <div class="entry">
                <div class="label"></div>
                <div class="detail">Titel Park 4</div>
                <div class="rate">10*250</div>
                <div class="amount">2500</div>
              </div>
              <div class="entry">
                <div class="label"></div>
                <div class="detail">Titel Park 5</div>
                <div class="rate">10*250</div>
                <div class="amount">2500</div>
              </div>
          </div>
          <div class="leaves">
            <div class="entry">
              <div class="label">Leave Payments</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry paid">
              <div class="label"></div>
              <div class="detail">No Leave</div>
              <div class="rate"></div>
              <div class="amount">-</div>
            </div>
            
          </div>
          <div class="taxable_allowance">
            <div class="entry">
              <div class="label"></div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
          
          </div>
          <div class="taxable_bonus">
            <div class="entry">
              <div class="label"></div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
           
          </div>
       <br>  
          <div class="net_pay">
            <div class="entry">
              <div class="label">NET PAY</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount">15,000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- <div class="col-12 col-sm-5 form-group">
        <button class="input1" (click) = "addapi()">Send to Approval</button>
        </div> -->
  </div>