

<form>
  <!-- service-form -->
  <div class="service-forms">

     
      <div class="row">

        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-12 multistep-form-section">

              <form name="form"  novalidate>

                      <div class="col-md-12 justify-content-md-center">
                      
                              <div class="">
                              <h3 style="    width: 100%;
                              background: #f1f4f7;padding: 10px;text-transform: uppercase;">User Registation</h3>
                              </div>
                              <div class="col col-lg-2">                                        
                              </div>
                            </div>            
              <div class="row">
                      <div class="col-12 col-sm-12 form-group">
                          <form class="frms" name="form" novalidate>

                              <div _ngcontent-c7="" class="col-md-12">
                                  <div _ngcontent-c7="" class="row">
                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="col-md-3">
                                          <label _ngcontent-c7="">Employee_ID</label>
                                        </div>
                                        <div _ngcontent-c7="" class="col-md-9">
                                        
                                            <div class="form-group service-form-group">                             
                                                <input type="text" #Employee_ID [(ngModel)]="adduser.Employee_ID" placeholder="Employee_ID" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Employee_ID" value="" #Employee_ID>
                                            </div>                                            
                                        </div>
                                      </div>
                                    </div>
                                    <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="col-md-3">
                                          <label _ngcontent-c7="">Name</label>
                                        </div>
                                        <div _ngcontent-c7="" class="col-md-9">
                                            <input type="text" [(ngModel)]="adduser.Name" placeholder="Name" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Name" value="" #Name>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>




                                <div _ngcontent-c7="" class="col-md-12">
                                    <div _ngcontent-c7="" class="row">
                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">Designation</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                          
                                              <select class="form-control"  [(ngModel)]="adduser.Designation" name="Designation" value="" #Designation id="exampleFormControlSelect1">
                                                  <option>Sales Team </option>
                                                  <option>Operation Team</option>
                                                  <option>Finance Team</option>
                                                  <option>Human Resource</option>
                                                  <option>Payroll Management</option>
                                                </select>                                             
                                          </div>
                                        </div>
                                      </div>


                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="col-md-3">
                                            <label _ngcontent-c7="">Level</label>
                                          </div>
                                          <div _ngcontent-c7="" class="col-md-9">
                                              <select class="form-control"  [(ngModel)]="adduser.Level" name="Level" value="" #Level id="exampleFormControlSelect1">
                                                  <option>Senior Team</option>
                                                  <option>Junior Team</option>
                                                </select>  
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>





                                  <div _ngcontent-c7="" class="col-md-12">
                                      <div _ngcontent-c7="" class="row">
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">Phone Number</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                            
                                                <input type="text" placeholder="Phone_number" [(ngModel)]="adduser.Phone_number" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Phone_number" value="" #Phone_number>                                          
                                            </div>
                                          </div>
                                        </div>
                                        <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                          <div _ngcontent-c7="" class="row">
                                            <div _ngcontent-c7="" class="col-md-3">
                                              <label _ngcontent-c7="">Login_id</label>
                                            </div>
                                            <div _ngcontent-c7="" class="col-md-9">
                                                <input type="text" placeholder="Login_id" [(ngModel)]="adduser.Email_id" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Email_id" value="" #Email_id>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>



                                    <div _ngcontent-c7="" class="col-md-12">
                                        <div _ngcontent-c7="" class="row">
                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="col-md-3">
                                                <label _ngcontent-c7="">Password</label>
                                              </div>
                                              <div _ngcontent-c7="" class="col-md-9">
                                              
                                                  <input type="text" placeholder="Password" [(ngModel)]="adduser.Password" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Password" value="" #Password>
                                              </div>
                                            </div>
                                          </div>
                                         
                                        </div>
                                      </div>
                          <div class="row">

                          <div class="col-md-12 col-sm-5 form-group">
                          <button class="input1" (click) = "addapi()">Add User</button>
                          </div>

                               </div>
                          </form>

                </div>



                  </div>


                </form>
            </div>
            </div>
          </div>
        </div>

  </div>
</form>
