
<form>
    <!-- service-form -->
    <div class="service-forms">

       
        <div class="row">
  
          <div class="">
            <div class="row">
              <div class="col-sm-12 multistep-form-section">
  
                <form name="form"  novalidate>

                        <div class="row justify-content-md-center">
                        
                                <div class="col-md-auto">
                                <h3> Update User Details</h3>
                                </div>
                                <div class="col col-lg-2">                                        
                                </div>
                              </div>
                              
                <div class="row">
                        <div class="col-12 col-sm-12 form-group">
                            <form class="frms" name="form" novalidate>
                            <div class="row">

                                    <div class="col-12  form-group">
                                
                                     </div>
                            <div class="col-12 col-sm-5 form-group">
                                    <div class="form-group service-form-group">
                                            <label>Employee_ID</label>
                                        <input type="text" #Employee_ID [(ngModel)]="adduser.Employee_ID" placeholder="Employee_ID" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Employee_ID" value="" #Employee_ID>
                                    </div>
                             </div>
                             <div class="col-12 col-sm-5 form-group">
                              <div class="form-group service-form-group">
                                   <label>Name</label>
                                  <input type="text" [(ngModel)]="adduser.Name" placeholder="Name" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Name" value="" #Name>
                              </div>
                       </div>
                       <div class="col-12 col-sm-5 form-group">
                        <div class="form-group service-form-group">
                                <label>Designation</label>
                            <label class="control-label sr-only" for="name"></label>
                            <!-- <input type="text" placeholder="Gender"  [(ngModel)]="adduser.Gender" class="form-control col-md-12"   pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Hrs_pattern" value="" #Hrs_pattern /> -->
                            <select class="form-control"  [(ngModel)]="adduser.Gender" name="Hrs_pattern" value="" #Hrs_pattern id="exampleFormControlSelect1">
                                <option>Sales Team </option>
                                <option>Operation Team</option>
                                <option>Finance Team</option>
                                <option>Human Resource</option>
                                <option>Payroll Management</option>
                              </select>  
                        </div>
                      </div>


                      <div class="col-12 col-sm-5 form-group">
                        <div class="form-group service-form-group">
                                <label>Levels</label>
                            <label class="control-label sr-only" for="name"></label>
                            <!-- <input type="text" placeholder="Gender"  [(ngModel)]="adduser.Gender" class="form-control col-md-12"   pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Hrs_pattern" value="" #Hrs_pattern /> -->
                            <select class="form-control"  [(ngModel)]="adduser.Gender" name="Hrs_pattern" value="" #Hrs_pattern id="exampleFormControlSelect1">
                                <option>Senior Team</option>
                                <option>Junior Team</option>
                              </select>  
                        </div>
                      </div>
                 <div class="col-12 col-sm-5 form-group">
                  <div class="form-group service-form-group">
                          <label>Phone_number</label>
                      <label class="control-label sr-only" for="name"></label>
                      <input type="text" placeholder="Phone_number" [(ngModel)]="adduser.Phone_number" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Phone_number" value="" #Phone_number>
                      
                  </div>
           </div>
        
    
  <div class="col-12 col-sm-5 form-group">
    <div class="form-group service-form-group">
            <label>Email_id</label>
        <label class="control-label sr-only" for="name"></label>
        <input type="text" placeholder="Email_id" [(ngModel)]="adduser.Email_id" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Email_id" value="" #Email_id>
       
    </div>
  </div>
  <div class="col-12 col-sm-5 form-group">
        <div class="form-group service-form-group">
                <label>Password</label>
            <label class="control-label sr-only" for="name"></label>
            <input type="text" placeholder="Password" [(ngModel)]="adduser.Password" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Password" value="" #Password>
           
        </div>
      </div>

      <div class="col-12 col-sm-5 form-group">
          
      </div>
  <div class="col-12 col-sm-5 form-group">
  <button class="input1" (click) = "addapi()">Update User</button>
  </div>
  
  
  
                                 </div>
                            </form>
  
                  </div>
  
  
  
                    </div>
  
  
                  </form>
              </div>
              </div>
            </div>
          </div>
  
    </div>
  </form>
  