<!-- Adding Employee Page -->

<form>
    <!-- service-form -->
    <div class="service-forms">
        <div class="row">
  
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-12 multistep-form-section">
                <form name="form"  novalidate>
                        <div class="col-md-12 justify-content-md-center">
                                <div class="">
                                <h3 style="    width: 100%;
                                background: #f1f4f7;padding: 10px;text-transform: uppercase;">Employee Registation</h3>
                                </div>
                                <div class="col col-lg-2">                                        
                                </div>
                              </div>  
                              <br>                        
                <div class="row">
                        <div class="col-12 col-sm-12 form-group">
                            <form class="frms" name="form" novalidate>

                                    <div _ngcontent-c7="" class="col-md-12">
                                            <div _ngcontent-c7="" class="row">
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                    <label _ngcontent-c7="">User Name</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                  
                                                      <div class="form-group service-form-group">                             
                                                            <input type="text" #email_id [(ngModel)]="adduser.Email_id" placeholder="Email_id" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Sl_No" value="" #Sl_No>
                                                      </div>                                            
                                                  </div>
                                                </div>
                                              </div>
                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="col-md-3">
                                                    <label _ngcontent-c7="">Password</label>
                                                  </div>
                                                  <div _ngcontent-c7="" class="col-md-9">
                                                        <input type="text" [(ngModel)]="Password" placeholder="Password" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="No_of_Sites" value="" #No_of_Sites>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>




                                          <div _ngcontent-c7="" class="col-md-12">
                                                <div _ngcontent-c7="" class="row">
                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="col-md-3">
                                                        <label _ngcontent-c7="">Employee Type</label>
                                                      </div>
                                                      <div _ngcontent-c7="" class="col-md-9">
                                                      
                                                            <select class="form-control"  [(ngModel)]="adduser.Professional_Tax_Type" name="Hrs_pattern" value="" #Professional_Tax_Type id="exampleFormControlSelect1">
                                                                    <option>Training</option>
                                                                    <option>Employee</option>
                                                                  </select>                                            
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="col-md-3">
                                                        <label _ngcontent-c7="">Employee ID</label>
                                                      </div>
                                                      <div _ngcontent-c7="" class="col-md-9">
                                                            <input type="text" placeholder="Employee_No" [(ngModel)]="adduser.Employee_No" class="form-control col-md-12"     pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Contact_Name" value="" #Contact_Name>
               
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>



                                              <div _ngcontent-c7="" class="col-md-12">
                                                    <div _ngcontent-c7="" class="row">
                                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                        <div _ngcontent-c7="" class="row">
                                                          <div _ngcontent-c7="" class="col-md-3">
                                                            <label _ngcontent-c7="">Name</label>
                                                          </div>
                                                          <div _ngcontent-c7="" class="col-md-9">
                                                          
                                                                <input type="text" placeholder="Name" [(ngModel)]="adduser.Name" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="E_Mail_ID" value="" #E_Mail_ID>                                         
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                        <div _ngcontent-c7="" class="row">
                                                          <div _ngcontent-c7="" class="col-md-3">
                                                            <label _ngcontent-c7="">Father_Name</label>
                                                          </div>
                                                          <div _ngcontent-c7="" class="col-md-9">
                                                                <input type="text" placeholder="Father_Name" [(ngModel)]="adduser.Father_Name" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Designations" value="" #Designations>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>






                                                  <div _ngcontent-c7="" class="col-md-12">
                                                        <div _ngcontent-c7="" class="row">
                                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                            <div _ngcontent-c7="" class="row">
                                                              <div _ngcontent-c7="" class="col-md-3">
                                                                <label _ngcontent-c7="">Date_Of_Birth</label>
                                                              </div>
                                                              <div _ngcontent-c7="" class="col-md-9">
                                                              
                                                                    <input type="text" placeholder="Date_Of_Birth"   [(ngModel)]="adduser.Date_Of_Birth" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Deployment" value="" #Deployment>
                                                
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                            <div _ngcontent-c7="" class="row">
                                                              <div _ngcontent-c7="" class="col-md-3">
                                                                <label _ngcontent-c7="">Gender</label>
                                                              </div>
                                                              <div _ngcontent-c7="" class="col-md-9">
                                                                    <input type="text" placeholder="Father_Name" [(ngModel)]="adduser.Father_Name" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Designations" value="" #Designations>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>  



                                                      <div _ngcontent-c7="" class="col-md-12">
                                                            <div _ngcontent-c7="" class="row">
                                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                <div _ngcontent-c7="" class="row">
                                                                  <div _ngcontent-c7="" class="col-md-3">
                                                                    <label _ngcontent-c7="">Marital_Status</label>
                                                                  </div>
                                                                  <div _ngcontent-c7="" class="col-md-9">
                                                                  
                                                                        <input type="text" placeholder="Marital_Status" [(ngModel)]="adduser.Marital_Status" class="form-control col-md-12"   pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="RATES" value="" #RATES />
       
                                                                  </div>
                                                                </div>
                                                              </div>
                                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                <div _ngcontent-c7="" class="row">
                                                                  <div _ngcontent-c7="" class="col-md-3">
                                                                    <label _ngcontent-c7="">Educational_Qualification</label>
                                                                  </div>
                                                                  <div _ngcontent-c7="" class="col-md-9">
                                                                        <input type="text" placeholder="Educational_Qualification" [(ngModel)]="adduser.Educational_Qualification"  class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Allowance" value="" #Allowance />
      
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>  





                                                          <div _ngcontent-c7="" class="col-md-12">
                                                                <div _ngcontent-c7="" class="row">
                                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                    <div _ngcontent-c7="" class="row">
                                                                      <div _ngcontent-c7="" class="col-md-3">
                                                                        <label _ngcontent-c7="">Nationality</label>
                                                                      </div>
                                                                      <div _ngcontent-c7="" class="col-md-9">
                                                                            <input type="text" placeholder="Nationality"  [(ngModel)]="adduser.Nationality" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Total_Allowance" value="" #Total_Allowance />
      
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                    <div _ngcontent-c7="" class="row">
                                                                      <div _ngcontent-c7="" class="col-md-3">
                                                                        <label _ngcontent-c7="">Address</label>
                                                                      </div>
                                                                      <div _ngcontent-c7="" class="col-md-9">
                                                                            <input type="textarea" placeholder="Address"  [(ngModel)]="adduser.Permanent_Address" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Wages" value="" #Wages />
       
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div> 




                                                               <div _ngcontent-c7="" class="col-md-12">
                                                                <div _ngcontent-c7="" class="row">
                                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                    <div _ngcontent-c7="" class="row">
                                                                      <div _ngcontent-c7="" class="col-md-3">
                                                                        <label _ngcontent-c7="">Contact_No</label>
                                                                      </div>
                                                                      <div _ngcontent-c7="" class="col-md-9">
                                                                            <input type="text" placeholder="Contact_No" [(ngModel)]="adduser.Contact_No" class="form-control col-md-12"   pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="Add_Value" value="" #Add_Value />
       
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                    <div _ngcontent-c7="" class="row">
                                                                      <div _ngcontent-c7="" class="col-md-3">
                                                                        <label _ngcontent-c7="">Languages_Known</label>
                                                                      </div>
                                                                      <div _ngcontent-c7="" class="col-md-9">
                                                                            <input type="text" placeholder="Languages_Known" [(ngModel)]="adduser.Languages_Known" class="form-control col-md-12"  pattern="^[a-zA-Z0-9_-\s]{2,150}$"name="MARGIN" value="" #MARGIN />
    
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div> 



                                                              <div _ngcontent-c7="" class="col-md-12">
                                                                    <div _ngcontent-c7="" class="row">
                                                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                        <div _ngcontent-c7="" class="row">
                                                                          <div _ngcontent-c7="" class="col-md-3">
                                                                            <label _ngcontent-c7="">Work_Experience</label>
                                                                          </div>
                                                                          <div _ngcontent-c7="" class="col-md-9">
                                                                                
                                                                             <input type="text" placeholder="Work_Experience" [(ngModel)]="adduser.Work_Experience" class="form-control col-md-12"    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Contract_Start_Date" value="" #Contract_Start_Date />
       
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                      <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                        <div _ngcontent-c7="" class="row">
                                                                          <div _ngcontent-c7="" class="col-md-3">
                                                                            <label _ngcontent-c7="">Aadhar_Card_No</label>
                                                                          </div>
                                                                          <div _ngcontent-c7="" class="col-md-9">
                                                                                <input  type="text" placeholder="Aadhar_Card_No" [(ngModel)]="adduser.Aadhar_Card_No" class="form-control col-md-12" required=""   pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Signed_by_client" value="" #Signed_by_client >   
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div> 




                                                                  <div _ngcontent-c7="" class="col-md-12">
                                                                        <div _ngcontent-c7="" class="row">
                                                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                            <div _ngcontent-c7="" class="row">
                                                                              <div _ngcontent-c7="" class="col-md-3">
                                                                                <label _ngcontent-c7="">Date Of Joining</label>
                                                                              </div>
                                                                              <div _ngcontent-c7="" class="col-md-9">
                                                                                    <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker
                   #d2="ngbDatepicker">

            <button class="btn px-gdn-btn px-gdn-btn-icon px-4 input-group-addon" type="button" (click)="d2.toggle()">
              <i class="material-icons">date_range</i>
            </button>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                            <div _ngcontent-c7="" class="row">
                                                                              <div _ngcontent-c7="" class="col-md-3">
                                                                                <label _ngcontent-c7="">Voter_ID</label>
                                                                              </div>
                                                                              <div _ngcontent-c7="" class="col-md-9">
                                                                                    <input id="name" type="text" placeholder="Voter_ID" [(ngModel)]="adduser.Voter_ID" class="form-control col-md-12" required=""    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Aging_Analysis" value="" #Aging_Analysis >       
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div> 




                                                                      <div _ngcontent-c7="" class="col-md-12">
                                                                            <div _ngcontent-c7="" class="row">
                                                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                                <div _ngcontent-c7="" class="row">
                                                                                  <div _ngcontent-c7="" class="col-md-3">
                                                                                    <label _ngcontent-c7="">Driving_Licence_Number</label>
                                                                                  </div>
                                                                                  <div _ngcontent-c7="" class="col-md-9">
                                                                                        <input id="name" type="text" placeholder="Driving_Licence_Number" [(ngModel)]="adduser.Driving_Licence_Number" class="form-control col-md-12" required=""    pattern="^[a-zA-Z0-9_-\s]{2,150}$" name="Aging_Analysis" value="" #Aging_Analysis > 
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                              <div _ngcontent-c7="" class="form-group service-form-group col-md-6">
                                                                                <div _ngcontent-c7="" class="row">
                                                                                  <div _ngcontent-c7="" class="col-md-3">
                                                                                    <label _ngcontent-c7="">Attach Contract Document</label>
                                                                                  </div>
                                                                                  <div _ngcontent-c7="" class="col-md-9">
                                                                                        <div class="custom-file">
                                                                                                <input type="file" class="custom-file-input" id="custom-file-input">
                                                                                                <label class="custom-file-label px-3" for="custom-file-input">Choose file</label>
                                                                                              </div>    
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div> 




                            <div class="row">
                        
 
  <div class="col-md-12 col-sm-5 form-group">
  <button class="input1" (click) = "addapi()">Next</button>
  </div>
  </div>
  </form>
 </div>
</div>
  
  
                  </form>
              </div>
              </div>
            </div>
          </div>
  
    </div>
  </form>
  