<!-- <input type="text" (keyup) = "onNameKeyUp($event)">
<input type="text" (keyup) = "onNameKeyUp($event)">
<button (click)="getProfile()">Get profile</button>
<br>
<div *ngIf = "found">

    <span>{{name}} age is {{age}}</span>

</div> -->




name: <input type="text" name="name" value="" #name><br>
Mobile_number <input type="text" name="mobile_number" value="" #mobile_number><br>
Email_id: <input type="text" name="email_id" value="" #email_id><br>
Password: <input type="text" name="password" value="" #password><br>





<button (click)="postProfile(name.value, mobile_number.value, email_id.value, password.value)">Submit</button>
    <p>Result</p>
    <p>status:<span>{{status.status}}</span></p> <br>
    <p>Message:<span>{{status.data.message}}</span> <br>
        <span>{{status.data.user_id}}</span><br>
        <span>{{status.data.user_name}}</span><br>
        <span>{{status.data.mobile_number}}</span><br>
        <span>{{status.data.email_id}}</span><br>
        <span>{{status.data.password}}</span><br>
    

    




