<div class="container">
    <div class="row">
        <div _ngcontent-c4="" class="header">
          <div _ngcontent-c4="" class="row">
            <div _ngcontent-c4="" class="col-12 col-md-6 mb-3">
              <div _ngcontent-c4="" class="col-md-12">
                <h3 _ngcontent-c4="" class="adsc">
                  <i _ngcontent-c4="" class="fa fa-university"></i> &nbsp; Monthly Turnover Finance Management</h3>
                </div>
              </div>
              <div _ngcontent-c4="" class="col-md-6">
                  <!-- <button class="input1" (click) = "addapi5()">Add</button> -->
              </div>
            </div>
           
          </div>
          <!-- <div class="col-md-12 pull-left">
  
                   <button class="input1" >Recivable amount = 23,34,534</button>
                     
                  <button class="input1" >Payable Amount = 19,34,523</button>
                   
                  
                  <button class="input1" >Paid Amount = 19,34,000</button>
                      
                    
                  <button class="input1" >Pending Amount =  500</button>
                           
                   </div>
                   <br>
                   <br>
           <br> -->
  
          <div class="col">
      
              <div class="col-md-12">
                <div class="row">
                  <div class="tabl" >
                      <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                          <thead>
                              <tr>
                                  <th>SL.NO</th>
                                  <th>Months</th>
                                  <th>Total receivable amount</th>
                                  <th>Received Amount</th>
                                  <th>Payment Pending</th>
                                  <th>Payable Amount</th>
                                  <th>Paid Amount</th>
                                  <th>Pending Amount</th>
                                  <th>Salary Amount</th>
                                  <th>Salary pending</th>
                                  <th>Status</th>
                                  <th>View</th>
                              </tr>
                          </thead>
                          <tbody>
                                <ng-container  *ngFor="let data of datas ;  let i = index">

                                        <tr>
                                              <td>{{data.id}}</td> 
                                          <td>JAN</td>
                                          <td>30,35,455</td>
                                          <td id="pc1">30,34,455</td>
                                          <td id="pc1">1000</td>
                                          <td id="l1">33,44,678</td>
                                          <td id="a1">33,44,000</td>
                                          <td id="pc1">600</td>
                                          <td id="l1">3,44,678</td>
                                          <td id="a1">3,44,000</td>
                                          <td id="pc1">Inprocess</td>
                                          <td> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse" (click)="addapi1()"><i _ngcontent-c6="" class="m-1 icon-screen-desktop"></i></button></td>
                                         
                                      </tr>
                                      </ng-container>      
                          </tbody>
                      </table>
                      <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                      <div class="card-footer p-0">
                      <ngb-pagination  [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                      </div>     
                </div>
                </div>
              </div>
              </div>
          
         
    </div>
  </div>
  <!-- END # BOOTSNIP INFO -->
  
  
  
  