<div class="service-form col-md-12">

        <div class="row">
          <div class="header">
      
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <h3 class="adsc"> <i class="fa fa-university"></i>  &nbsp;Client Issues Management</h3></div>
      
                      <div class="col-12 col-md-6 mb-3">
                          <button type="button" class="btn btn-info btn-lg pull-right" routerLink="/main/addissues">Add Issues</button>
                    </div>
                  </div>
                     <div row = "">
                        <div class="row" style="background: #fff;  width:100%;    margin-left: 1px;">           
                                <div class="col-12 col-lg-4 mb-2">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="dash-box dash-box-color-1">
                                        <div class="dash-box-icon">
                                          <i class="fa fa-id-badge" style="font-size:36px"></i>
                                        </div>
                                        <div class="dash-box-body">
                                            <span class="dash-box-title">&nbsp;</span>
                                          <span class="dash-box-count">New Issues</span><br>
                                          <span class="dash-box-count">8,252</span>   
                                        </div>  
                                        <a href="/main/clientissues"> <div class="dash-box-action">
                                          <button type="button" class="btn btn-info mb-5 ">More Info</button>
                                        </div></a>				
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-lg-4 mb-2">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="dash-box dash-box-color-2">
                                        <div class="dash-box-icon">
                                           <i _ngcontent-c18="" class="fa m-1 fa-vcard ng-star-inserted"></i>
                                        </div>
                                        <div class="dash-box-body">
                                            <span class="dash-box-title">&nbsp;</span>
                                          <span class="dash-box-count">Inprogress Issues</span><br>
                                          <span class="dash-box-count">100</span>
                                        </div>
                                        <a href="/main/clientissues">
                                        <div class="dash-box-action">
                                        <button type="button" class="btn btn-info mb-5 ">More Info</button>
                                        </div></a>				
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-12 col-lg-4 mb-2">
                                  <div class="card">
                                    <div class="card-body">
                                      <div class="dash-box dash-box-color-2">
                                        <div class="dash-box-icon">
                                          <i class="fa fa-file-zip-o" style="font-size:36px"></i>
                                        </div>
                                        <div class="dash-box-body">
                                            <span class="dash-box-title">&nbsp;</span>
                                          <span class="dash-box-count">Completed Issues</span><br>
                                          <span class="dash-box-count">8,252</span>
                                        </div>
                                        <a href="/main/clientissues">
                                        <div class="dash-box-action">
                                        <button type="button" class="btn btn-info mb-5 ">More Info</button>
                                        </div></a>				
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
    
                  </div>     
                  <br>  
    
    
              
                      
                  <table id="example" class="display nowrap" style="width:100%;background: #fff;"> 
                        <thead> 
                          <tr> 
                            <th>Issues id</th> 
                            <th>Posted by</th> 
                            <th>Type</th> 
                            <th>Title</th>
                            <th>Decription</th>
                            <th>Photo</th> 
                            <th>view</th> 
                            <th>Edit</th> 
                            <th>Delete</th>
                            <th>Send</th>  
                            </tr> 
                          </thead> 
                          <tbody>
                             <tr>
                                <td>Iss01</td>
                                 <td>Employee</td>
                                  <td>Internal</td> 
                                  <td>Door repair </td> 
                                  <td>door 4 is Repair</td> 
                                  <td>Pics</td>
                                  <td><button class="view button1">view</button></td>
                                  <td><button class="edit button1">edit</button></td>
                                  <td><button class="delete1 button1">delete</button></td>
                                  <td><button class="send button1">send</button></td>

                             </tr>
                             <tr>
                              <td>Iss02</td>
                                 <td>Employee2</td>
                                  <td>Internal2</td> 
                                  <td>Door repair2 </td> 
                                  <td>door 4 is Repair</td> 
                                  <td>Pics</td>
                                  <td><button class="view button1">view</button></td>
                                  <td><button class="edit button1">edit</button></td>
                                  <td><button class="delete1 button1">delete</button></td>
                                  <td><button class="send button1">send</button></td>
                             </tr>
                             <tr>
                              <td>Iss03</td>
                                 <td>Client</td>
                                  <td>Internal</td> 
                                  <td>Door repair </td> 
                                  <td>door 4 is Repair</td> 
                                  <td>Pics</td>
                                  <td><button class="view button1">view</button></td>
                                  <td><button class="edit button1">edit</button></td>
                                  <td><button class="delete1 button1">delete</button></td>
                                  <td><button class="send button1">send</button></td>
                             </tr>
                                                                                                    
                                                      
                         </tbody> 
                        <tfoot> 
                         <tr> <th>Name</th> <th>Position</th> <th>Office</th> <th>Age</th> <th>Start date</th> <th>Salary</th> </tr> </tfoot> </table>
                    
    
      </div>
      </div>
      </div>
      
      
      
      
      
      
      
            <!-- The Modal -->
        