<div id="payslip">
    <div id="title">BSS Payslip</div>
    <div id="scope">
      <div class="scope-entry">
        <div class="title">PAY RUN</div>
        <div class="value">Mar 1, 2015</div>
      </div>
      <div class="scope-entry">
        <div class="title">PAY PERIOD</div>
        <div class="value">Mar 1 - Mar 30, 2018</div>
      </div>
    </div>
    <div class="content">
      <div class="left-panel">
        <div id="employee">
          <div id="name">
         Mohammed imthiyas
          </div>
          <div id="email">
          Mohammed@gmail.com
          </div>
        </div>
        <div class="details">
          <div class="entry">
            <div class="label">Employee ID</div>
            <div class="value">Reg-006</div>
          </div>
          <div class="entry">
            <div class="label">Name</div>
            <div class="value">Married - 2</div>
          </div>
          <div class="entry">
            <div class="label">Designation</div>
            <div class="value">Security</div>
          </div>
          <div class="entry">
            <div class="label">Contact_No</div>
            <div class="value">12123</div>
          </div>
          <div class="entry">
            <div class="label">EPF_No</div>
            <div class="value">123--123-123</div>
          </div>
          <div class="entry">
            <div class="label">ESIC_No</div>
            <div class="value">123123</div>
          </div>
          <div class="entry">
            <div class="label">BSS_EPF_Number</div>
            <div class="value">1233</div>
          </div>
          <div class="entry">
            <div class="label">BSSPL_EPF_Number</div>
            <div class="value">12123</div>
          </div>
          <div class="entry">
            <div class="label">MMSPL_EPF_Number</div>
            <div class="value">12323</div>
          </div>
          <div class="entry">
            <div class="label">UAN_Number</div>
            <div class="value">12323</div>
          </div>
          <div class="entry">
            <div class="label">Date_Of_Joining</div>
            <div class="value">1</div>
          </div>
          <div class="entry">
            <div class="label">Professional_Tax</div>
            <div class="value">12323</div>
          </div>
          <div class="entry">
            <div class="label">PF_Elegible</div>
            <div class="value">123</div>
          </div>
          <div class="entry">
            <div class="label">ESI_Elegible</div>
            <div class="value">yes</div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="details">
          <div class="basic-pay">
            <div class="entry">
              <div class="label">Basic Pay</div>
              <div class="detail"></div>
              <div class="rate">45,000.00/Month</div>
              <div class="amount">45,000.00</div>
            </div>
          </div>
          <div class="salary">
            <div class="entry">
              <div class="label">Salary</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">EPF Amount</div>
          
              <div class="amount">(33,231.36)</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">ESIC Amount</div>
          
              <div class="amount">4,153.92</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">BSS_EPF Amount</div>
           
              <div class="amount">7,009.65</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">BSSPL_EPF Amount</div>
        
              <div class="amount">5,997.11</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">MMSPL_EPF Amount</div>
          
              <div class="amount">15,992.59</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">UAN Amount</div>
 
              <div class="amount">4,673.07</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">Professional_Tax  Amount</div>
 
              <div class="amount">3,998.05</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">PF Amount</div>
    
              <div class="amount">1,485.00</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">ESI Amount</div>

              <div class="amount">3,037.50</div>
            </div>
            <div class="entry">
              <div class="label"></div>
              <div class="detail">NO.OF Days Working</div>

              <div class="amount">2,700.00</div>
            </div>
          </div>
          <div class="leaves">
            <div class="entry">
              <div class="label">Leaves</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
            <div class="entry paid">
              <div class="label"></div>
              <div class="detail">No. of Days Leave</div>
              <div class="rate"></div>
              <div class="amount">2,076.92</div>
            </div>
            
          </div>
          <div class="taxable_allowance">
            <div class="entry">
              <div class="label">Over time</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
          
          </div>
          <div class="taxable_bonus">
            <div class="entry">
              <div class="label">Penalty</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount"></div>
            </div>
           
          </div>
       <br>
         
          <div class="net_pay">
            <div class="entry">
              <div class="label">NET PAY</div>
              <div class="detail"></div>
              <div class="rate"></div>
              <div class="amount">69,656.21</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="col-12 col-sm-5 form-group">
        <button class="input1" (click) = "addapi()">Send to Approval</button>
        </div>


  </div>