

    <div class="row">
      <div class="col-12 col-sm-6">
<div class="Emp" style="background: #ffffff; margin-left: -17px;
margin-right: -17px; width: 100% ; height: 100%; border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;">
    <label>Employee Details</label>
        <table style="width:100%">
                <tr>
                  <th>User Name</th>
                  <td>: {{model.Email_id}}</td>
                </tr>
                 <tr>
                  <th>Password</th>
                  <td>: {{model.Password}}</td>
                </tr>
                 <tr>
                  <th>Employee ID</th>
                  <td>: {{model.Employee_No}}</td>
                </tr>
                    <tr>
                  <th>Name</th>
                  <td>: {{model.Designation}}</td>
                </tr>
                <tr>
                  <th>Father_Name</th>
                  <td>: {{model.Name}}</td>
                </tr>
                 <tr>
                  <th>Date_Of_Birth</th>
                  <td>: {{model.Father_Name}}</td>
                </tr>
                 <tr>
                  <th>Gender</th>
                  <td>: {{model.Gender}}</td>
                </tr>
                <tr>
                  <th>Marital_Status</th>
                  <td>: {{model.Marital_Status}}</td>
                </tr>
                 <tr>
                  <th> Contact No</th>
                  <td>: {{model.contact_details}}</td>
                </tr>
                <tr>
                  <th> Address </th>
                  <td>: {{model.contact_details}}</td>
                </tr>
                <tr>
                  <th>Educational_Qualification</th>
                  <td>: {{model.Educational_Qualification}}</td>
                </tr>
                 <tr>
                  <th>Nationality</th>
                  <td>: {{model.Nationality}}</td>
                </tr>
                 <tr>
                  <th>Languages_Known</th>
                  <td>: {{model.Languages_Known}}</td>
                </tr>
                <tr>
                  <th>Work_Experience</th>
                  <td>: {{model.Work_Experience}}</td>
                </tr>
                 <tr>
                  <th>Aadhar_Card_No</th>
                  <td>: {{model.Aadhar_Card_No}}</td>
                </tr>
                 <tr>
                  <th>Date_Of_Joining</th>
                  <td>: {{model.Date_Of_Joining}}</td>
                </tr>
                <tr>
                  <th>Date_Of_Relieving</th>
                  <td>: {{model.Date_Of_Relieving}}</td>
                </tr>
                 <tr>
                  <th>Voter_ID</th>
                  <td>: {{model.Voter_ID}}</td>
                </tr>
                <tr>
                  <th>Driving_Licence_Number</th>
                  <td>: {{model.Driving_Licence_Number}}</td>
                </tr>
                <tr>
                  
                </tr>      
                <tr>
                  <th><button>view Documents</button></th>
                </tr>       
        </table> 
</div>
</div>
            <div class="col-12 col-sm-6">
              <div class="Emp" style="background: #ffffff; margin-left: -17px;
              margin-right: -17px; width: 100% ; height: 100%; border: 1px solid #aaa;
                  border-radius: 4px;
                  padding: .5em .5em 0;">
                    <label>CTC Details</label>
                      <table style="width:100%">


                        <tr>
                          <th>EPN NO</th>
                          <td>: {{model1.Written_work}}</td>
                        </tr>
                         <tr>
                          <th>EPN Amount</th>
                          <td>: {{model1.Appearance}}</td>
                        </tr>
                         <tr>
                          <th>ESIC No</th>
                          <td>: {{model1.First_impression}}</td>
                        </tr>
                         <tr>
                          <th>ESIC Amount</th>
                          <td>: {{model1.Result}}</td>
                        </tr>
                         <tr>
                          <th>BSS EPF Number</th>
                          <td>: {{model1.Designation}}</td>
                        </tr>
                         <tr>
                          <th>BSS EPF Amount</th>
                          <td>: {{model1.Entry}}</td>
                        </tr>
                         <tr>
                          <th>MMSPL EPF Number</th>
                          <td>: {{model1.To_be_Posted_to}}</td>
                        </tr>                      
                         <tr>
                          <th>MMSPL EPF Amount</th>
                          <td>: {{model1.Receipt_No_Date}}</td>
                        </tr>
                         <tr>
                          <th>UAN Number</th>
                          <td>: {{model1.Amount}}</td>
                        </tr>
                         <tr>
                          <th>UAN Amount</th>
                          <td>: {{model1.Med}}</td>
                        </tr>
                         <tr>
                          <th>PF Elegible</th>
                          <td>: {{model1.Shoes}}</td>
                        </tr>
                         <tr>
                          <th>PF Amount</th>
                          <td>: {{model1.Id_card}}</td>
                        </tr>
                         <tr>
                          <th>ESI Elegible</th>
                          <td>: {{model1.N_Tab}}</td>
                        </tr>
                         <tr>
                          <th>ESI Amount</th>
                          <td>: {{model1.Receipt_No_Date}}</td>
                        </tr>
                         <tr>
                          <th>Professional Tax Type</th>
                          <td>: {{model1.Date}}</td>
                        </tr>
                         <tr>
                          <th>Professional Tax No</th>
                          <td>: {{model1.Amount}}</td>
                        </tr>
                         <tr>
                          <th>Professional Tax Amount</th>
                          <td>: {{model1.Dues}}</td>
                        </tr>
                    </table>   
                      </div>
                    </div> 
                    </div> 
            
        