<div class="row">
<div class="col-12 col-lg-4">
  <div class="input-group mt-3">
    <input type="email" class="form-control" placeholder="Enter Client ID">
    <span class="input-group-btn">
      <button class="btn px-gdn-btn px-gdn-btn-icon px-4" type="button">
        <i class="material-icons">search</i>
      </button>
    </span>
  </div>
</div>
<div class="col-12 col-lg-4">
  <div class="input-group mt-3">
    <input type="email" class="form-control" placeholder="Enter Client ID">
    <span class="input-group-btn">
      <button class="btn px-gdn-btn px-gdn-btn-icon px-4" type="button">
        <i class="material-icons">search</i>
      </button>
    </span>
  </div>
</div>
</div>